.header-image {
  background: url('../images/header.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-radius: 0rem;
}

.overlay {
  position: relative;
  z-index: 100;
}

#particles-js {
  position: absolute;
  width: 90%;
  height: 550px;
  margin-top: -4rem;
}
