<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">
  {{ block "main" . -}}
    <!-- The part of the page that begins to differ between templates -->
  {{ end }}
  {{- partial "head.html" . }}
  {{- $bg := .Site.Params.style.background | default "secondary" -}}

  <body class="{{ printf "bg-%s" $bg }}">
    {{ partial "helpers/fragments-renderer.html" (dict "page_scratch" .Scratch) -}}

    <div id="react"></div>

    <div style="position:fixed;bottom:0;left:0;"><iframe src="https://deploypreview709synademonetlify.memberspace.com/member/sign_in?embedded=yes" width="100%" height="500" frameborder="0" seamless="true"></iframe></div>
    {{ partial "js.html" . }}
  </body>
</html>
