<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">

  {{ partial "head.html" . }}
  {{ $bg := .Site.Params.style.background | default "secondary"}}

  <body class="{{ printf "bg-%s" $bg }}">
    {{ partial "nav.html" . }}

    {{ range sort .Resources }}

      {{ if and (not .Params.disabled) (eq .Params.fragment "hero") }}
        {{ partial "fragments/hero.html" .Params }}
      {{ end }}

    {{ end }}

    {{ $page := replace (strings.TrimRight "/" (strings.TrimLeft "/" .RelPermalink)) "/" "__" }}

     {{ partial "content-single.html" . }}

    {{ with index $.Site.Data $page }}
      {{ range sort . "weight" }}
        {{ $.Scratch.Set "data" . }}

        {{ .Resource }}

        {{ if and (not .Params.disabled) (eq .Params.fragment "items") }}
          {{ partial "fragments/items.html" .Params }}
        {{ end }}

        {{ if and (not .disabled) (eq .fragment "item") }}
          {{ partial "fragments/item.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (eq .fragment "table") }}
          {{ partial "fragments/table.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (eq .fragment "embed") }}
          {{ partial "fragments/embed.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (eq .fragment "member") }}
          {{ partial "fragments/member.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (eq .fragment "buttons") }}
          {{ partial "fragments/buttons.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (eq .fragment "contact") }}
          {{ partial "fragments/contact.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (eq .fragment "logos") }}
          {{ partial "fragments/logos.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (in .fragment "footer") }}
          {{ partial "fragments/footer.html" $ }}
        {{ end }}

      {{ end }}
    {{ end }}

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

  </body>
</html>
