{{ define "main" }}

  {{ partial "content-split.html" . }}

  {{ $global := .Site.GetPage "page" "global" }}
  {{ $.Scratch.Delete "global_fragments" }}
  {{ if $global }}
    {{ $.Scratch.Set "global_fragments" ($global.Resources.ByType "page") }}
  {{ end }}
  {{ $local_fragments := .Resources.ByType "page" }}

  {{ $.Scratch.Set "fragments" slice }}
  {{ range $local_fragments }}
    {{ $.Scratch.Add "fragments" (slice .) }}
  {{ end }}
  {{ if $.Scratch.Get "global_fragments" }}
    {{ range ($.Scratch.Get "global_fragments") }}
      {{ if not (where ($.Scratch.Get "fragments") ".Name" .Name) }}
        {{ $.Scratch.Add "fragments" (slice .) }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ range sort ($.Scratch.Get "fragments" | default slice) "Params.weight" }}
    {{ if and (not .Params.disabled) (isset .Params "fragment") }}
      {{ partial (print "fragments/" .Params.fragment ".html") (dict "tmp_full" $ "menus" $.Site.Menus "Site" $.Site "resources" $.Resources "self" .) }}
    {{ end }}
  {{ end }}
{{ end }}
