.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}
