$white:               #fff;
$gray-100:            #f8f9fa;
$gray-200:            #e9ecef;
$gray-300:            #dee2e6;
$gray-400:            #ced4da;
$gray-500:            #adb5bd;
$gray-600:            #868e96;
$gray-700:            #495057;
$gray-800:            #343a40;
$gray-900:            #212529;
$black:               #000;

$blue:                #00838F;
$indigo:              #54008f;
$purple:              #8f0083;
$pink:                #c77fc1;
$red:                 #dc1200;
$orange:              #fd9742;
$yellow:              #fdf314;
$green:               #008f54;
$teal:                #4cb087;
$cyan:                #00c9dc;

$border-color:        $gray-200;
$list-inline-padding: 5px;
