{{/* Global resource fallback */}}
{{- $image := .asset.image -}}

{{/* Resource is used when file is not imported from static directory, in which
  case we can perform image processing. */}}
{{- .root.page_scratch.Set "resource" nil -}}

{{/* static/images directory */}}
{{- .root.page_scratch.Set "image" (printf "images/%s" $image) -}}

{{/* Page specific resource */}}
{{- if .root.page -}}
  {{- $location := (printf "%s/%s" .root.page.Dir $image) -}}
  {{- if (fileExists (printf "content/%s" $location)) -}}
    {{- .root.page_scratch.Set "resource" (.root.page.Resources.GetMatch $image) -}}
  {{- end -}}
{{- end -}}

{{/* Fragment specific resource */}}
{{- $location := (printf "%s/%s" .root.file_path $image) -}}
{{- if (fileExists (printf "content/%s" $location)) -}}
  {{- .root.page_scratch.Set "resource" (.root.page.Resources.GetMatch (strings.TrimPrefix .root.page.Dir $location)) -}}
{{- end -}}

{{- if eq (.root.page_scratch.Get "resource") nil -}}
  {{- if eq .absolute true -}}
    {{- .root.page_scratch.Get "image" | absURL -}}
  {{- else -}}
    {{- .root.page_scratch.Get "image" | relLangURL -}}
  {{- end -}}
{{- else -}}
  {{- if isset . "resize" -}}
    {{- if ne (.root.page_scratch.Get "resource").MediaType.SubType "svg" -}}
      {{- .root.page_scratch.Set "resource" ((.root.page_scratch.Get "resource").Resize .resize) -}}
    {{- end -}}
  {{- end -}}

  {{- if eq .absolute true -}}
    {{- (.root.page_scratch.Get "resource").Permalink -}}
  {{- else -}}
    {{- (.root.page_scratch.Get "resource").RelPermalink -}}
  {{- end -}}
{{- end -}}
