{{- $self := .self -}}
{{- $bg := .bg -}}
{{- $align := .params.title_align | default "center" -}}
{{- with .params.title }}
  <div class="title-container row mx-0">
    <div class="title col px-0
      {{- printf " text-%s" $align -}}
      {{- partial "helpers/text-color.html" (dict "self" $self) -}}
    ">
      <h2>
        {{- . | markdownify -}}
      </h2>
    </div>
  </div>
{{- end -}}
{{- with .params.subtitle -}}
  <div class="subtitle-container row mx-0">
    <div class="subtitle col pt-4 pb-0 px-0
      {{- printf " text-%s" $align -}}
      {{- partial "helpers/text-color.html" (dict "self" $self) -}}
    ">
      <h5>
        {{- . | markdownify -}}
      </h5>
    </div>
  </div>
{{- end }}
