{{- $bg := .bg -}}
{{- $align := .params.title_align | default "center" -}}
{{- with .params.title }}
  <div class="row mx-0">
    <div class="col
      {{- printf " text-%s" $align -}}
      {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
        {{- printf " text-%s" "dark" -}}
      {{- else -}}
        {{- printf " text-%s" "light" -}}
      {{- end -}}
    ">
      <h2>
        {{- . | markdownify -}}
      </h2>
    </div>
  </div>
{{- end -}}
{{- with .params.subtitle -}}
  <div class="row mx-0">
    <div class="col pt-4 pb-0
      {{- printf " text-%s" $align -}}
      {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
        {{- printf " text-%s" "dark" -}}
      {{- else -}}
        {{- printf " text-muted text-%s" "secondary" -}}
      {{- end -}}
    ">
      <h5>
        {{- . | markdownify -}}
      </h5>
    </div>
  </div>
{{- end }}
