{{ "<!-- Content -->" | safeHTML }}
{{ $bg := .Page.Params.Background | default "light"}}

<section>
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3">
          {{ if .Page.Params.sidebar_title }}
            <div class="col-12 pb-3
              {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-%s" "light" -}}
              {{- end -}}
            ">
              <h1>
                {{- .Page.Params.sidebar_title | markdownify -}}
              </h1>
            </div>
          {{ end }}
          <div class="col-12
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            {{- .Page.Params.sidebar  | markdownify -}}
          </div>
        </div>
        <div class="col-md-9">
          {{ if .Title }}
            <div class="col-12 pb-3
              {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-%s" "light" -}}
              {{- end -}}
            ">
              <h1>
                {{- .Title | markdownify -}}
              </h1>
            </div>
          {{ end }}
          {{ if .Page.Params.Subtitle }}
            <div class="col-12 pb-2
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">
              <h3>
                {{- .Page.Params.Subtitle | markdownify -}}
              </h3>
            </div>
          {{ end }}
          <div class="col-12
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            {{ .Content  | markdownify -}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
