{{ "<!-- Legal Footer section -->" | safeHTML }}
{{ $bg := .Site.Params.style.backgroundFooter | default "secondary"}}
<footer class="
  {{- printf " bg-%s" $bg -}}
">
  <div class="container">
    <div class="row p-3">
      <div class="col-md">
        <div class="row navbar-text
          {{- if eq $bg "dark" -}}
            {{- printf " text-%s" "secondary" -}}
          {{- else -}}
            {{- printf " text-%s" "dark" -}}
          {{- end -}}
        ">
          {{ with .Site.Copyright }}
            <div class="col text-sx-center">
              {{ . }}
            </div>
          {{ else }}
            <div class="col text-center text-lg-left">
              {{- i18n "footerLegal.copyright" -}}{{- printf  " %s %s" (i18n "footerLegal.by") .Site.Params.name -}}
            </div>
          {{ end }}
        </div>
      </div>
      {{ if .Site.Menus.legalfooter }}
        <div class="col-md">
          <div class="row my-2">
              <ul class="nav mx-auto ml-lg-auto">
                {{ range sort .Site.Menus.legalfooter }}
                  <li class="nav-item">
                    <a class="nav-link py-0
                      {{- if eq $bg "dark" -}}
                        {{- printf " text-%s" "secondary" -}}
                      {{- else -}}
                        {{- printf " text-%s" "dark" -}}
                      {{- end -}}
                    " href="{{ .URL | relLangURL }}"
                      {{ if hasPrefix .URL "#" }}
                        class="anchor"
                      {{ end }}>
                      {{ .Name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</footer>
