{{ "<!-- Legal Footer section -->" | safeHTML }}
<footer class=" bg-secondary">
  <div class="container">
    <div class="row p-3">
      <div class="col-md">
        <div class="row navbar-text text-dark">
          {{ with .Site.Copyright }}
            {{ . }}
          {{ else }}
            <div class="d-inline-flex mr-1">
              © Copyright 2017
            </div>
            <div class="d-inline-flex">
              {{ printf  "by %s" .Site.Params.name }}
            </div>
          {{ end }}
        </div>
      </div>
      <div class="col-md">
        <div class="row my-2 justify-content-right">
          {{ if .Site.Menus.legalfooter }}
            <ul class="nav ml-auto">
              {{ range sort .Site.Menus.legalfooter }}
                <li class="nav-item">
                  <a class="nav-link text-dark py-0" href="{{ .URL | relLangURL }}"
                    {{ if hasPrefix .URL "#" }}
                      class="anchor"
                    {{ end }}>
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</footer>
