{{ "<!-- Legal Footer section -->" | safeHTML }}
<footer class=" bg-secondary">
  <div class="container">
    <div class="row p-3">
      <div class="col-md">
        <div class="row navbar-text text-dark">
          {{ with .Site.Copyright }}
            <div class="d-inline-flex">
              {{ . }}
            </div>
          {{ else }}
            <div class="d-inline-flex mr-1">
              {{ i18n "footerLegal.copyright" }}
            </div>
            <div class="d-inline-flex">
              {{ printf  "%s %s" (i18n "footerLegal.by") .Site.Params.name }}
            </div>
          {{ end }}
        </div>
      </div>
      {{ if .Site.Menus.legalfooter }}
        <div class="col-md">
          <div class="row my-2 justify-content-right">
              <ul class="nav ml-auto">
                {{ range sort .Site.Menus.legalfooter }}
                  <li class="nav-item">
                    <a class="nav-link text-dark py-0" href="{{ .URL | relLangURL }}"
                      {{ if hasPrefix .URL "#" }}
                        class="anchor"
                      {{ end }}>
                      {{ .Name }}
                    </a>
                  </li>
                {{ end }}
              </ul>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</footer>
