{{ "<!-- Theme Code -->" | safeHTML }}
{{- $.Scratch.Set "resources" (slice (resources.Get "main.js")) -}}
{{- range uniq ($.Scratch.Get "js") -}}
  {{- $js := resources.Get . -}}
  {{- $.Scratch.Add "resources" $js -}}
{{- end -}}
{{- range $.Scratch.Get "resources" }}
  <script src="{{ (. | resources.Minify | resources.Fingerprint).RelPermalink }}" async defer></script>
{{- end -}}

{{- template "_internal/google_analytics_async.html" . -}}

{{- if .Site.Params.analytics.piwik -}}
  {{- partial "_analytics/piwik.html" . -}}
{{- end -}}

{{- partial "custom/js.html" . -}}
