{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery-3.2.1/jquery.min.js" | relURL }}"></script>

{{ "<!-- Bootstrap Addons -->" | safeHTML }}
<script src="{{ "js/popper-11.1.0/popper.min.js" | relURL }}"></script>

{{ "<!-- Bootstrap Core -->" | safeHTML }}
<script src="{{ "js/bootstrap-4.beta/bootstrap.min.js" | relURL }}"></script>

{{ if not .Site.Data.index.hero.image }}
  {{ "<!-- Particles -->" | safeHTML }}
  <script src="{{ "js/particles-2.0/particles.min.js" | relURL }}"></script>
  <script src="{{ "js/particles-2.0/config.js" | relURL }}"></script>
{{ end }}

{{ if not .Site.Params.contact.disabled }}
  {{ "<!-- Form Validator -->" | safeHTML }}
  <script src="{{ "js/jquery-form-validator-2.3.77/jquery.form-validator.min.js" | relURL }}"></script>
{{ end }}

{{ if .Site.Params.contact.captcha }}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{ end }}

{{ "<!-- Theme Code -->" | safeHTML }}
<script src="{{ "js/syna.js" | relURL }}"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ if .Site.Params.analytics.piwik }}
  {{ partial "_analytics/piwik.html" . }}
{{ end }}

{{ partial "custom/js.html" . }}
