<nav class="overlay navbar navbar-expand-lg navbar-dark bg-dark py-2">
  <div class="container">
    {{ if .Site.Params.branding.logoNavigation }}
      <a class="navbar-brand" href="{{ "#page-top" | relLangURL }}">
        <img src="{{ (printf "images/%s" .Site.Params.branding.logoNavigation) | relURL }}" height="30" class="d-inline-block align-top" alt="{{ .Site.Params.branding.textNavigation }}">
      </a>
    {{ else }}
      <a class="navbar-brand" href="{{ "#page-top" | relLangURL }}">
        {{ .Site.Params.branding.textNavigation }}
      </a>
    {{ end }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        {{ if .Site.Menus.prepend }}
          {{ range sort .Site.Menus.prepend }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | relLangURL }}"
                {{ if hasPrefix .URL "#" }}
                  class="anchor"
                {{ end }}>
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{ if .Site.Menus.main }}
          {{ range sort .Site.Menus.main }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | relLangURL }}"
                {{ if hasPrefix .URL "#" }}
                  class="anchor"
                {{ end }}>
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{ if .Site.Menus.postpend }}
          {{ range sort .Site.Menus.postpend }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | relLangURL }}"
                {{ if hasPrefix .URL "#" }}
                  class="anchor"
                {{ end }}>
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ if .Site.IsMultiLingual }}
        {{ range .Site.Languages }}
          <a class="btn btn-secondary p-1 m-1" href="{{ delimit (slice "/" .) "" }}" role="button">
            {{ . }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
      {{ if .Site.Params.repoButton }}
        <div class="d-none d-lg-block ml-auto">
        <a class="btn btn-light" href="{{ .Site.Params.repoButton.url }}" role="button">
          <i class="fa {{ .Site.Params.repoButton.icon | default (printf "fa-github") }} mr-1"></i>
          {{ .Site.Params.repoButton.text | default (printf "Star") }}
        </a>
        </div>
      {{ end }}
</nav>

<!--



-->
