<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">

  {{- partial "head.html" . }}
  {{- $bg := .Site.Params.style.background | default "secondary" -}}

  <body class="{{ printf "bg-%s" $bg }}">
    {{/* Copied from fragments helper with some small changes */}}
    {{- $page := . -}}
    {{- $real_page := . -}}
    {{- $page_scratch := .Scratch -}}
    {{- $404 := .Site.GetPage "_global" -}}

    {{- $page_scratch.Set "fragment_directories" (slice $404) -}}

    {{- $page_scratch.Set "fragments" (slice) -}}
    {{- range $directory := ($page_scratch.Get "fragment_directories") -}}
      {{- if $directory -}}
        {{- $page_scratch.Add "fragments" . -}}
        {{- range ($directory.Resources.ByType "page") -}}
          {{- $page_scratch.Add "fragments" . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- $page_scratch.Set "page_fragments" (slice) -}}
    {{- $page_scratch.Set "fragments_directory_name" (slice) -}}
    {{- if $page_scratch.Get "fragments" -}}
      {{- range ($page_scratch.Get "fragments") -}}
        {{- $name := replace .Name "/index" "" -}}
        {{- $directory_same_name := in ($page_scratch.Get "fragments_directory_name") (printf "%s%s/" $404.Dir (replace $name ".md" "")) -}}
        {{- if and (not (where ($page_scratch.Get "page_fragments") ".Name" $name)) (not $directory_same_name) -}}
          {{- $page_scratch.Add "page_fragments" . -}}
          {{- $page_scratch.Add "fragments_directory_name" (printf "%s%s/" $404.Dir (replace $name ".md" "")) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- $page_scratch.Set "js" (slice "syna-main.js") -}}
    {{- $page_scratch.Set "react" false -}}
    {{- range sort ($page_scratch.Get "page_fragments") "Params.weight" -}}
      {{- if and (not .Params.disabled) (isset .Params "fragment") -}}
        {{- $name := strings.TrimSuffix ".md" (replace .Name "/index.md" "") -}}
        {{- $bg := .Params.background | default "light" }}
        {{- .Scratch.Set "bg" $bg -}}

        {{- $file_path := strings.TrimSuffix ".md" (replace .File.Path "/index.md" "") -}}
        {{- $context := dict "page_scratch" $page_scratch "root" $real_page "Site" $real_page.Site "page" $page "resources" $real_page.Resources "self" . "Params" .Params "Name" $name "file_path" $file_path }}
        {{- partial (print "fragments/" .Params.fragment ".html") $context -}}
      {{- end -}}
    {{- end -}}
    {{/* End of copy */}}

    <div id="react"></div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header row mx-0">
              <div class="modal-title col px-0">
                <h5 class="title text-dark"></h5>
                <h6 class="subtitle text-secondary"></h6>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <img src="" alt="" class="img-fluid">
            <div class="modal-body p-3">
              <div class="content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "js.html" . }}
  </body>
</html>
