<html lang="{{ .Site.languageCode | default (printf "en-us") }}">

  {{ partial "head.html" . }}

  <body class="bg-white">
    {{ partial "nav.html" . }}

    <section>
          <div class="jumbotron text-center mb-0">
            <img class="img-fluid" src="{{ printf "images/logo.svg" | relURL }}"></img>
            <h1 class="jumbotron-heading my-5">
              {{- i18n "404.title" -}}
            </h1>
            <h3 class="my-4">
              {{- i18n "404.subtitle" -}}
            </h3>
            <h5 class="my-4">
              {{- i18n "404.direction" -}}
            </h5>
            <a class="btn btn-primary btn-lg my-4" href="/">
              {{- i18n "404.button" -}}
            </a>
          </div>
    </section>

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

  </body>
</html>
