<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">

  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    {{ with $.Site.Data.index }}
      {{ range sort . "weight" }}
        {{ $.Scratch.Set "data" . }}

        {{ if and (not .disabled) (in .fragment "hero") }}
          {{ partial "fragments/hero.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (in .fragment "column-items") }}
          {{ partial "fragments/column-items.html" $ }}
        {{ end }}
        
        {{ if and (not .disabled) (in .fragment "row-items") }}
          {{ partial "fragments/row-items.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (in .fragment "contact") }}
          {{ partial "fragments/contact.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (in .fragment "logos") }}
          {{ partial "fragments/logos.html" $ }}
        {{ end }}

        {{ if and (not .disabled) (in .fragment "footer") }}
          {{ partial "fragments/footer.html" $ }}
        {{ end }}

      {{ end }}
    {{ end }}

    {{ partial "footer.html" . }}

    {{ partial "js.html" . }}

  </body>
</html>
