{{ $tmp_full := .tmp_full }}
{{ $page_path := .page_path }}
{{ $path := .path }}
{{ $image := .image }}
{{ $class := .class }}
{{ $width := .width }}
{{ $height := .height }}

{{/* fallback to global resource */}}
{{ $tmp_full.Scratch.Set "image" (printf "images/%s" $image) }}
{{ with $page_path }}
  {{/* try for page specific resource */}}
  {{ $location := (printf "%s/%s" $page_path $image) }}
  {{ if (fileExists $location) }}
    {{/* special case index: trim index/ from url */}}
    {{ $location := strings.TrimPrefix "index/" $location }}
    {{ $tmp_full.Scratch.Set "image" $location }}
  {{ end }}
{{ end }}

{{ with $path }}
  {{/* try for fragment specific resource */}}
  {{ $location := (printf "%s/%s" $path $image) }}
  {{ if (fileExists $location) }}
    {{/* special case index: trim index/ from url */}}
    {{ $location := strings.TrimPrefix "index/" $location }}
    {{ $tmp_full.Scratch.Set "image" $location }}
  {{ end }}
{{ end }}
<img
  src="{{ $tmp_full.Scratch.Get "image" | relURL }}"
  {{ if $class -}} class="{{ $class }}" {{ end -}}
  {{- if $height -}} height="{{ $height }}"{{- end -}}
  {{- if $width -}} width="{{ $width }}"{{- end -}} />
