{{- $article_vars := partial "fragments/slices/list/article-vars.html" (dict "article" .article "self" .root)}}
{{- $slot_context := dict "page" $article_vars.page "content_fragment" (index $article_vars.content_page 0) -}}
{{- partial "helpers/slot.html" (dict "root" .root "slot" "before-item" "data" $slot_context) -}}
<article
  {{- if $.root.Params.collapsible -}}
    {{- safeHTMLAttr (printf " id=\"list-page-%s\"" (anchorize $article_vars.page_id)) -}}
  {{- end }}
  {{- if $article_vars.display_summary }}
    class="col-12 px-0 mb-4"
  {{- else }}
    class="col-12 px-0 mb-2"
  {{- end -}}>
  {{- if $article_vars.page_title -}}
    <div class="col-12 pl-0 pb-1
      {{- partial "helpers/text-color.html" (dict "self" .root.self) -}}
    ">
      <div
        {{- if $.root.Params.collapsible -}}
          {{- safeHTMLAttr (print " data-toggle=\"collapse\"") -}}
          {{- safeHTMLAttr (printf " data-target=\"#list-page-%s .collapse\"" (anchorize $article_vars.page_id)) -}}
          {{- safeHTMLAttr (printf " data-add-collapse=\"#list-page-%s .article-title\"" (anchorize $article_vars.page_id)) -}}
        {{- end }}
        class="row align-items-center justify-content-between mx-0 article-title">
        {{- partial "fragments/slices/list/title.html" (dict "display_summary" $article_vars.display_summary "page_title" $article_vars.page_title "page" .root.page "Permalink" .article.Permalink) -}}
        {{- if $.root.Params.display_date }}
          {{- range $article_vars.content_page -}}
            {{- partial "helpers/publish-date.html" (dict "root" . "background" $.bg "badge" false) -}}
          {{- end -}}
        {{- end }}
      </div>
    </div>
    {{- partial "fragments/slices/list/meta.html" (dict "content_page" $article_vars.content_page "fragment" .root "Params" .article.Params "bg" .bg) -}}
  {{- end -}}
  {{- if $.root.Params.collapsible -}}
    <div class="collapse {{- if eq .root.page.Permalink .article.Permalink }} show {{- end }}">
  {{- end -}}
    {{- partial "fragments/slices/list/cover.html" (dict "content_page" $article_vars.content_page "fragment_params" $.root.Params "page_scratch" $.root.page_scratch "page" $article_vars.page "page_title" $article_vars.page_title) -}}
    {{- if $article_vars.display_summary }}
      <div class="col-12 pl-0 mt-2
        {{- partial "helpers/text-color.html" (dict "self" .root.self "light" "secondary") -}}
      ">
        {{- range $article_vars.content_page }}
          {{- if (isset .Params "summary") }}
            {{- .Params.summary | markdownify -}}
          {{- else }}
            {{- .Summary }}
          {{- end -}}
          {{- if ne $.root.Params.read_more false -}}
            {{- if or $.root.Params.read_more .Truncated }}
              <a class="badge 
                {{- if or (eq $.bg "secondary") (eq $.bg "primary") -}}
                  {{- printf " badge-%s" "dark" -}}
                {{- else -}}
                  {{- printf " badge-%s" "secondary" -}}
                {{- end -}}
              " href="{{ $.article.Permalink }}">{{ i18n "content.readmore" | default "Read more..." }}</a>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
    {{- end -}}
    {{- partial "helpers/slot.html" (dict "root" .root "slot" "after-item" "data" $slot_context) -}}
  {{- if $.root.Params.collapsible -}}
    </div>
  {{- end -}}
</article>
