{{/*
  This variable stores all the page bundles in the blog section. There are three
  where functions achieving this. First where gets all the pages in blog
  section, the second one removes current page from the mix and the last one
  removes the section (.Site.Pages returns the current section as a page). */}}
{{- $articles := where (where (where .Site.Pages "Section" "blog") "File.Path" "ne" .root.File.Path) "File.Path" "ne" "" -}}
{{- $bg := .Params.background | default "light" }}

{{ "<!-- Blog -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid {{- printf " bg-%s" $bg -}}">
    <div class="container py-5">
      <div class="row">
        <div class="col-12
          {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
            {{- printf " text-%s" "dark" -}}
          {{- else -}}
            {{- printf " text-muted text-%s" "secondary" -}}
          {{- end -}}
        ">
          {{- range first .Params.article_count $articles }}
            <a href="{{ .URL }}">
              <h3>
                {{ .Name }}
              </h3>
            </a>
          {{- end -}}
        </div>
      </div>
    </div>
  </div>
</section>
