{{- $bg := .Params.background | default "white" }}

{{ "<!-- Buttons -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-4">
      {{- with .Params.title }}
        <div class="row">
          <div class="col text-center
            {{- if or (eq $bg "secondary") (eq $bg "white") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-%s" "white" -}}
            {{- end -}}
          ">
            <h4>
              {{- . | markdownify -}}
            </h4>
          </div>
        </div>
      {{- end -}}
      {{- with .Params.subtitle }}
        <div class="row">
          <div class="col text-center
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            <h5>
              {{- . | markdownify -}}
            </h5>
          </div>
        </div>
      {{- end }}
      <div class="row text-center justify-content-center">
        {{- range .Params.buttons }}
          <a class="btn btn-lg m-2{{ if hasPrefix .url "#" }} anchor{{ end }}
            {{- $color := .color | default "primary" -}}
            {{- printf " btn-%s" $color -}}
          " href="{{ .url | relLangURL }}">
            {{- .text -}}
          </a>
        {{- end }}
      </div>
    </div>
  </div>
</section>
