{{- $self := .self -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Buttons -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-4">
      {{- partial "helpers/section-header.html" (dict "bg" $bg "params" .Params) }}
      <div class="row text-center justify-content-center">
        {{- range .Params.buttons }}
          <a class="btn btn-lg m-2{{ if hasPrefix .url "#" }} anchor{{ end }}
            {{- $color := .color | default "primary" -}}
            {{- printf " btn-%s" $color -}}
          " href="{{ .url | relLangURL }}">
            {{- .text -}}
          </a>
        {{- end }}
      </div>
    </div>
  </div>
</section>
