{{ $data := ($.Scratch.Get "data") }}
{{ "<!-- Items -->" | safeHTML }}
{{ $bg := $data.background | default "light"}}
<section {{ with $data.selfLink }}id="{{ . }}"{{ end }}>
    <div class="overlay container-fluid
      {{- printf " bg-%s" $bg -}}
    ">
      <div class="container py-5">
        {{ with $data.title }}
          <div class="row">
            <div class="col text-center
              {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "black" -}}
              {{- else -}}
                {{- printf " text-%s" "light" -}}
              {{- end -}}
            ">
              <h2>
                {{ . | markdownify }}
              </h2>
            </div>
          </div>
        {{ end }}
        {{ with $data.subtitle }}
          <div class="row">
            <div class="col text-center pt-4 pb-5
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">
              <h5>
                {{ . | markdownify }}
              </h5>
            </div>
          </div>
        {{ end }}
        <div class="row justify-content-center align-items-start">
          {{ range sort $data.items "weight"}}
            <div class="col-md-4 text-center">
              <span class="fa-stack fa-3x m-2">
                <i class="fa fa-circle fa-stack-2x
                {{- if eq $bg "primary" -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-%s" "primary" -}}
                {{- end -}}
                "></i>
                <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="mb-3
                {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "black" -}}
                {{- else -}}
                  {{- printf " text-%s" "light" -}}
                {{- end -}}
              ">
                {{ if .link }}
                  <a href="{{ .link | relLangURL }}" class="
                    {{- if eq $bg "primary" -}}
                      {{- printf " text-%s" "dark" -}}
                    {{- end -}}
                  ">{{ .name | markdownify }}</a>
                {{ else }}
                  {{ .name | markdownify }}
                {{ end }}
              </h4>
              <p class="
                {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-muted text-%s" "secondary" -}}
                {{- end -}}
              ">{{ .description  | markdownify}}</p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
</section>
