{{- $self := .self -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Content -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row">
        {{- with .Params.sidebar -}}
          <div class="content-sidebar col-md-3 pb-4 {{- if (eq .align "right") }} order-1 {{- else }} order-0 {{- end -}}">
            {{- if .title }}
              <div class="col-12 pb-3
                {{- partial "helpers/text-color.html" (dict "self" $self) -}}
              ">
                <h1>
                  {{- .title | markdownify -}}
                </h1>
              </div>
            {{- end }}
            <div class="col-12
              {{- partial "helpers/text-color.html" (dict "self" $self "light" "secondary") -}}
            ">
              {{- .content | markdownify -}}
              {{ partial "helpers/slot.html" (dict "root" $ "slot" "sidebar")}}
            </div>
          </div>
          <article class="col-md-9">
        {{- else }}
          <article class="col-md-12">
        {{- end }}
          {{- partial "helpers/section-header.html" (dict "bg" $bg "params" .Params) }}
          {{- if or .Params.display_date .Params.categories -}}
            <div class="col-12 pb-4 mt-2">
              {{- if .Params.display_date -}}
                {{- partial "helpers/publish-date.html" (dict "root" $self "background" $bg) -}}
              {{- end -}}
              {{- with .Params.categories }}
                {{- partial "helpers/categories.html" (dict "categories" . "background" $bg) -}}
              {{- end }}
            </div>
          {{- end }}
          {{- if .Params.asset -}}
            <div class="col-12">
              <img src="{{ partial "helpers/image.html" (dict "root" . "asset" .Params.asset) }}" alt="{{ .Params.subtitle | default .Params.title }}" class="img-fluid mb-4">
            </div>
          {{- end -}}
          <div class="col-12 content
            {{- partial "helpers/text-color.html" (dict "self" $self "light" "muted") -}}
          ">
            {{ $self.Content | markdownify }}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
