{{ $data := ($.Scratch.Get "data") }}
{{ "<!-- Contact -->" | safeHTML }}
{{ $bg := $data.background | default "secondary" }}

<section id="{{ $data.selfLink }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        {{ with $data.title }}
          <h2>{{- . | markdownify -}}</h2>
        {{ end }}
        {{ with $data.subtitle }}
          <h3 class="
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            {{- . | markdownify -}}
          </h3>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ if not $data.postURL }}
          <form class="contact" action="https://formspree.io/{{ $data.email }}" method="POST" name="sentMessage" id="{{ $data.formName | default "contactForm" }}">
        {{ else }}
          <form class="contact" action="{{ $data.postURL }}" method="POST" name="sentMessage" id="{{ $data.formName | default "contactForm" }}">
        {{ end }}
            <div class="row py-3">
              <div class="col-md-6">
                {{ with $data.fields.name }}
                  <div class="form-group">
                    <input
                      id="name"
                      name="name"
                      class="form-control"
                      type="text"
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultNameError") }}"
                      data-validation-error-msg-container="#name-error"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}"
                      required>
                    <div class="px-2 d-none" id="name-error"></div>
                  </div>
                {{ end }}
                {{ with $data.fields.email }}
                  <div class="form-group">
                    <input
                      id="email"
                      name="email"
                      class="form-control"
                      type="text"
                      data-validation="email"
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultEmailError") }}"
                      data-validation-error-msg-container="#email-error"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}"
                      required>
                    <div class="px-2 d-none" id="email-error"></div>
                  </div>
                {{ end }}
                {{ with $data.fields.phone }}
                  <div class="form-group">
                    <input
                      id="phone"
                      name="phone"
                      class="form-control"
                      type="text"
                      data-validation="custom"
                      data-validation-regexp="^([0-9,\+]+)$"
                      data-validation-optional="true"
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultPhoneError") }}"
                      data-validation-error-msg-container="#phone-error"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}">
                    <div class="px-2 d-none" id="phone-error"></div>
                  </div>
                {{ end }}
              </div>
              <div class="col-md-6">
                {{ with $data.fields.message }}
                  <div class="form-group">
                    <textarea
                      id="message"
                      name="message"
                      class="form-control text-dark"
                      type="text"
                      data-validation="length"
                      data-validation-length="min1"
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultButton") }}"
                      data-validation-error-msg-container="#message-error"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}"
                      rows="4"
                      required></textarea>
                    <div class="px-2 d-none" id="message-error"></div>
                  </div>
                {{ end }}
              </div>
              <div class="col-lg-12 text-center">
                <div class="generic-success text-success d-none" id="generic-success">
                  {{ with $data.message.success }}
                    {{- . | markdownify -}}
                  {{ else }}
                    {{- i18n "contact.defaultGenericSuccess" -}}
                  {{ end }}
                </div>
                <div class="captcha-error text-danger d-none" id="captcha-error">
                    {{- i18n "contact.defaultCaptchaError" }} {{ $data.email -}}.
                </div>
                <div class="generic-error text-danger d-none" id="generic-error">
                  {{ with $data.message.error }}
                    {{- . | markdownify -}}
                  {{ else }}
                    {{- i18n "contact.defaultGenericError" }} {{ $data.email -}}.
                  {{ end }}
                </div><br />
                <noscript>
                  <div class="text-danger py-2" id="js-error">
                    {{- i18n "contact.defaultJsError" }} {{ $data.email -}}.
                  </div>
                </noscript>
                {{ with $.Site.Params.contact.captcha }}
                    <div class="g-recaptcha" data-sitekey="{{ .sitekey }}" data-size="invisible" data-badge="inline" data-callback="onContactCaptcha"></div>
                  <button
                    class="btn btn-primary"
                    type="submit"
                    disabled>
                    {{- $data.button | default (i18n "contact.defaultButton") -}}
                  </button>
                {{ else }}
                  <button
                    class="btn
                      {{- if eq $bg "primary" -}}
                        {{- printf " btn-%s" "dark" -}}
                      {{- else -}}
                        {{- printf " btn-%s" "primary" -}}
                      {{- end -}}
                    "
                    type="submit"
                    disabled>
                    {{- $data.button | default (i18n "contact.defaultButton") -}}
                  </button>
                {{ end }}
              </div>
            </div>
            {{ range $data.fields.hidden }}
              {{ if eq .name "site" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.Page.Permalink }}"/>
              {{ else if eq .name "page" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.Page.URL }}"/>
              {{ else }}
                <input type="hidden" name="{{ .name }}" value="{{ .value }}"/>
              {{ end }}
            {{ end }}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
