{{- $bg := .Params.background | default "secondary" }}
{{- if .Params.recaptcha -}}
  {{- .page_scratch.Add "js" "https://www.google.com/recaptcha/api.js" -}}
{{- end }}
{{- .page_scratch.Add "js" "contact.js" }}

{{ "<!-- Contact -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center
        {{- if eq $bg "dark" -}}
          {{- printf " text-%s" "light" -}}
        {{- else -}}
          {{- printf " text-%s" "dark" -}}
        {{- end -}}
      ">
        {{- with .Params.title }}
          <h2>{{- . | markdownify -}}</h2>
        {{- end -}}
        {{- with .Params.subtitle }}
          <h3 class="
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            {{- . | markdownify }}
          </h3>
        {{- end }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form
          class="contact"
          method="POST"
          name="{{- .Params.form_name | default "contactForm" }}"
          id="contactForm
          {{- if .Params.netlify -}}
            " netlify-recaptcha netlify
          {{- else -}}
            " action="{{- .Params.post_url | default (printf "https://formspree.io/%s" .Params.email) -}}"
          {{- end }}>
            <div class="row py-3">
              <div class="col-md-6">
                {{- with .Params.fields.name }}
                  <div class="form-group">
                    <input
                      id="name"
                      name="name"
                      class="form-control"
                      type="text"
                      data-validation
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultNameError") }}"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}"
                      required>
                    <div class="px-2" data-error id="name-error"></div>
                  </div>
                {{- end -}}
                {{- with .Params.fields.email }}
                  <div class="form-group">
                    <input
                      id="email"
                      name="email"
                      class="form-control"
                      type="text"
                      data-validation="email"
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultEmailError") }}"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}"
                      required>
                    <div class="px-2" data-error id="email-error"></div>
                  </div>
                {{- end -}}
                {{- with .Params.fields.phone }}
                  <div class="form-group">
                    <input
                      id="phone"
                      name="phone"
                      class="form-control"
                      type="text"
                      data-validation="regex"
                      data-validation-regex="^([0-9,\+]+)$"
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultPhoneError") }}"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}">
                    <div class="px-2" data-error id="phone-error"></div>
                  </div>
                {{- end }}
              </div>
              <div class="col-md-6">
                {{- with .Params.fields.message }}
                  <div class="form-group">
                    <textarea
                      id="message"
                      name="message"
                      class="form-control text-dark"
                      type="text"
                      data-validation
                      data-validation-error-msg="{{ .error | default (i18n "contact.defaultButton") }}"
                      placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}"
                      rows="4"
                      required></textarea>
                    <div class="px-2" data-error id="message-error"></div>
                  </div>
                {{- end }}
              </div>
              <div class="col-lg-12 text-center">
                <div class="generic-success text-success d-none" id="generic-success">
                  {{- with .Params.message.success -}}
                    {{- . | markdownify -}}
                  {{- else -}}
                    {{- i18n "contact.defaultGenericSuccess" -}}
                  {{- end }}
                </div>
                <div class="captcha-error text-danger d-none" id="captcha-error">
                    {{- i18n "contact.defaultCaptchaError" }} {{ .Params.email }}.
                </div>
                <div class="generic-error text-danger d-none" id="generic-error">
                  {{- with .Params.message.error -}}
                    {{- . | markdownify -}}
                  {{- else -}}
                    {{- i18n "contact.defaultGenericError" }} {{ .Params.email -}}.
                  {{- end }}
                </div><br />
                <noscript>
                  <div class="text-danger py-2" id="js-error">
                    {{- i18n "contact.defaultJsError" }} {{ .Params.email }}.
                  </div>
                </noscript>
                {{- if .Params.recaptcha }}
                  <div class="g-recaptcha-container">
                    <span class="g-recaptcha-filler"></span>
                    <button
                      class="g-recaptcha btn btn-primary"
                      type="submit"
                      data-sitekey="{{ .sitekey }}"
                      data-size="invisible"
                      data-badge="inline"
                      data-callback="onContactCaptcha"
                      disabled>
                      {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                    </button>
                    <span class="filler"></span>
                  </div>
                {{- else if .Params.netlify }}
                  <div data-netlify-recaptcha></div>
                {{- else }}
                  <button
                    class="btn
                      {{- if eq $bg "primary" -}}
                        {{- printf " btn-%s" "dark" -}}
                      {{- else -}}
                        {{- printf " btn-%s" "primary" -}}
                      {{- end -}}
                    "
                    type="submit">
                    {{- .Params.button_text | default (i18n "contact.defaultButton") }}
                  </button>
                {{- end }}
              </div>
            </div>
            {{- range .Params.fields.hidden -}}
              {{- if eq .name "site" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.root.Page.Permalink }}"/>
              {{- else if eq .name "page" }}
                <input type="hidden" name="{{ .name }}" value="{{ $.root.Page.URL }}"/>
              {{- else }}
                <input type="hidden" name="{{ .name }}" value="{{ .value }}"/>
              {{- end -}}
            {{- end -}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
