{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $self := .self -}}
{{- $bg := .Params.background | default "light" }}

{{ "<!-- Content -->" | safeHTML }}
<section id="{{ $name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3">
          {{- with .Params.sidebar -}}
            {{- if .title }}
              <div class="col-12 pb-3
                {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-%s" "light" -}}
                {{- end -}}
              ">
                <h1>
                  {{- .title | markdownify -}}
                </h1>
              </div>
            {{- end }}
            <div class="col-12
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">
              {{- .content | markdownify -}}
            </div>
          </div>
        {{- end }}
        <div class="col-md-9">
          {{- if .Params.title }}
            <div class="col-12 pb-3
              {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-%s" "light" -}}
              {{- end -}}
            ">
              <h1>
                {{- .Params.title | markdownify -}}
              </h1>
            </div>
          {{- end -}}
          {{- if .Params.subtitle }}
            <div class="col-12 pb-2
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">
              <h3>
                {{- .Params.subtitle | markdownify -}}
              </h3>
            </div>
          {{- end }}
          <div class="col-12
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            {{ $self.Content | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
