{{ $self := .self }}
{{ $content_single := .self.Params }}
{{ "<!-- Content -->" | safeHTML }}
{{ $bg :=  $content_single.background | default "light"}}

<section>
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row">
        {{ if $content_single.title }}
          <div class="col-12 pb-3
            {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-%s" "light" -}}
            {{- end -}}
          ">
            <h1>
              {{- $content_single.title | markdownify -}}
            </h1>
          </div>
        {{ end }}
        {{ if $content_single.subtitle }}
          <div class="col-12 pb-2
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            <h3>
              {{- $content_single.subtitle | markdownify -}}
            </h3>
          </div>
        {{ end }}
        <div class="col-12
          {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
            {{- printf " text-%s" "dark" -}}
          {{- else -}}
            {{- printf " text-muted text-%s" "secondary" -}}
          {{- end -}}
        ">
          {{- $self.Content | markdownify -}}
        </div>
      </div>
    </div>
  </div>
</section>
