{{- $root := .root -}}
{{- $bg := .Params.background | default "secondary" }}

{{ "<!-- Copyright -->" | safeHTML }}
<footer class="overlay container-fluid
  {{- printf " bg-%s" $bg -}}
" id="{{ .Name }}">
  <div class="container">
    <div class="row py-3">
      <div class="col-md">
        <div class="row my-2 justify-content-center text-center text-lg-none
          {{- if eq $bg "dark" -}}
            {{- printf " text-%s" "secondary" -}}
          {{- else -}}
            {{- printf " text-%s" "dark" -}}
          {{- end -}}
        ">
          <div class="row mr-lg-auto">
            {{- with .Params.copyright }}
              <div class="col-auto">
                {{- . | markdownify -}}
              </div>
            {{- else }}
              <div class="col-auto px-1">
                {{- i18n "footerLegal.copyright" -}} &nbsp;{{ now.Format "2006" -}}
              </div>
              <div class="col-auto px-0">
                {{- printf " %s %s" (i18n "footerLegal.by") $root.Site.Params.name -}}
              </div>
            {{- end }}
          </div>
        </div>
      </div>
      {{- if eq .Params.attribution true }}
        <div class="col-auto mx-auto">
          <div class="row navbar-text text-center
            {{- if eq $bg "dark" -}}
              {{- printf " text-%s" "secondary" -}}
            {{- else -}}
              {{- printf " text-%s" "dark" -}}
            {{- end -}}
          ">
            {{- i18n "attribution" -}}
            <a href="https://syna.okkur.io" class="ml-1">
              {{- printf "Syna" -}}
            </a>
          </div>
        </div>
      {{- end -}}
      {{- if .Site.Menus.copyright_footer }}
        <div class="col-md">
          <div class="row my-2 justify-content-center">
            <ul class="nav ml-lg-auto">
              {{- range sort .Site.Menus.copyright_footer }}
                <li class="nav-item">
                  <a class="nav-link py-0
                    {{- if eq $bg "dark" -}}
                      {{- printf " text-%s" "secondary" -}}
                    {{- else -}}
                      {{- printf " text-%s" "dark" -}}
                    {{- end -}}
                  " href="{{ .URL | relLangURL }}"
                  {{ if hasPrefix .URL "#" }}
                    class="anchor"
                  {{ end }}>
                    {{- .Name -}}
                  </a>
                </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
    </div>
  </div>
</footer>
