{{- $self := .self -}}
{{- .page_scratch.Add "js" ("syna-react.js" | relLangURL) -}}
{{- .page_scratch.Set "react" true -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{ "<!-- Editor -->" | safeHTML }}
<section id="{{ .Name }}">
  <div data-portal class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  "></div>
</section>
<script>
  (window.editors || (window.editors = [])).push({
    ui: JSON.parse({{ readFile (printf "%s%s/ui.json" .page.Dir .Name) | safeHTML }}),
    schema: JSON.parse({{ readFile (printf "%s%s/schema.json" .page.Dir .Name) | safeHTML }}),
    container: {{ printf "#%s [data-portal]" .Name }}
  });
</script>
