{{- $bg := .Params.background | default "white" -}}
{{- $ratio := .Params.ratio | default "4by3" -}}
{{- $size := .Params.size | default "75" }}

{{ "<!-- Embed -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      {{- with .Params.title }}
        <div class="row">
          <div class="col text-center py-3
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-%s" "secondary" -}}
            {{- end -}}
          ">
            <h2>
              {{- . | markdownify -}}
            </h2>
          </div>
        </div>
      {{- end -}}
      {{- with .Params.subtitle }}
        <div class="row">
          <div class="col text-center pb-4
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            <h5>
              {{- . | markdownify -}}
            </h5>
          </div>
        </div>
      {{- end }}
      <div class="row justify-content-center">
        {{- if eq .Params.responsive false }}
          <div class="{{- printf "w-%s" $size -}}">
            {{- .Params.media | safeHTML -}}
          </div>
        {{- else }}
          <div class="embed-responsive
            {{- printf " embed-responsive-%s" $ratio -}}
            {{- printf " h-%s w-%s" $size $size -}}
          ">
            {{- if .Params.media }}
              {{- .Params.media | safeHTML -}}
            {{- else }}
              <iframe class="embed-responsive-item" src="{{ .Params.media_source }}" allowfullscreen></iframe>
            {{- end }}
          </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
