{{ $data := ($.Scratch.Get "data") }}
{{ "<!-- Footer -->" | safeHTML }}
<div class="container-fluid bg-dark">
  <div class="container py-5">
    <div class="row">
      <div class="col-md m-2 text-secondary">
        {{ with $data.logoTitle }}
          <h4>
            {{ . }}
          </h4>
        {{ end }}
        {{ if $data.logo }}
          <img src="{{ (printf "images/%s" $data.logo) | relURL }}" class="img-fluid w-50" alt="{{ $data.logoText }}">
        {{ else }}
          <p>
            {{ $data.logoText }}
          </p>
        {{ end }}
        {{ if $.Site.Menus.footersocial }}
          <div class="row justify-content-left ml-4">
            {{ range sort $.Site.Menus.footersocial }}
              <span class="fa-stack fa-2x mt-3">
                <a href="{{ .URL | relLangURL }}">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-{{ .Pre }} fa-stack-1x fa-fw text-light"></i>
                </a>
              </span>
            {{ end }}
          </div>
        {{ end }}
      </div>
      <div class="col-md m-2 text-secondary">
        {{ with $data.linkTitle }}
          <h4>
            {{ . }}
          </h4>
        {{ end }}
        {{ if $.Site.Menus.footer }}
          <ul class="nav flex-column">
              {{ range sort $.Site.Menus.footer }}
                <li class="nav-item">
                  <a class="nav-link text-secondary p-0 display-5" href="{{ .URL | relLangURL }}"
                    {{ if hasPrefix .URL "#" }}
                      class="anchor"
                    {{ end }}>
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
          </ul>
        {{ end }}
      </div>
      {{ with $data.descriptionTitle }}
        <div class="col-md m-2 text-secondary">
            <h4>
              {{ . }}
            </h4>
          {{ end }}
          {{ with $data.description }}
            <p>
              {{ . | markdownify }}
            </p>
        </div>
      {{ end }}
    </div>
  </div>
</div>
