{{- $bg := .Params.background | default "dark" }}

{{/* Global resource fallback - can also be used within loops */}}
{{- $image := .Params.logo.image -}}

{{/* Do not change the following snippet */}}
{{/* Code is duplicated throughout the code */}}
{{- $.root.Scratch.Set "image" (printf "images/%s" $image) -}}

{{/* Page specific resource */}}
{{- $location := (printf "%s/%s" $.fallthrough.page_path $image) -}}
{{- if (fileExists (printf "content/%s" $location)) -}}
  {{/* special case index: trim _index/ from url */}}
  {{- $location := strings.TrimPrefix "_index/" $location -}}
  {{- $.root.Scratch.Set "image" $location -}}
{{- end -}}

{{/* Fragment specific resource */}}
{{- $location := (printf "%s/%s" $.fallthrough.file_path $image) -}}
{{- if (fileExists (printf "content/%s" $location)) -}}
  {{/* special case index: trim _index/ from url */}}
  {{- $location := strings.TrimPrefix "_index/" $location -}}
  {{- $.root.Scratch.Set "image" $location -}}
{{- end -}}
{{/* End of do not change */}}

{{ "<!-- Footer -->" | safeHTML }}
<div class="overlay container-fluid
  {{- printf " bg-%s" $bg -}}
" id="{{ .Name }}">
  <div class="container py-5">
    <div class="row">
      <div class="col-md m-2
        {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "secondary" -}}
        {{- end -}}
      ">
        {{- with .Params.logo }}
          <h4>
            {{- .title -}}
          </h4>
          {{- if .image }}
          <a href="{{ .url }}">
            <img src="{{ $.root.Scratch.Get "image" | relURL }}" class="img-fluid w-50" alt="{{ .text }}">
          </a>
          {{- else }}
          <div>
            {{- .text -}}
          </div>
          {{- end -}}
        {{- end -}}

        {{- if .Site.Menus.footer_social }}
          <div class="row justify-content-left ml-0">
            {{- range sort .Site.Menus.footer_social }}
              <span class="fa-stack fa-2x mt-3 mr-1">
                <a href="{{ .URL | relLangURL }}" class="
                  {{- if eq $bg "primary" -}}
                    {{- printf " text-%s" "dark" -}}
                  {{- end -}}
                ">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="{{ .Pre }} fa-stack-1x fa-fw text-light"></i>
                </a>
              </span>
            {{- end }}
          </div>
        {{- end }}
      </div>
      <div class="col-md m-2
        {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "secondary" -}}
        {{- end -}}
      ">
        {{- with .Params.menu_title }}
          <h4>
            {{- . -}}
          </h4>
        {{- end -}}
        {{- if .Site.Menus.footer }}
          <ul class="nav flex-column">
              {{- range sort .Site.Menus.footer }}
                <li class="nav-item">
                  <a class="nav-link p-0 display-5
                    {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                      {{- printf " text-%s" "dark" -}}
                    {{- else -}}
                      {{- printf " text-%s" "secondary" -}}
                    {{- end -}}
                  " href="{{ .URL | relLangURL }}"
                    {{- if hasPrefix .URL "#" }}
                      class="anchor"
                    {{- end -}}>
                    {{- .Name -}}
                  </a>
                </li>
              {{- end }}
          </ul>
        {{- end }}
      </div>
      <div class="col-md m-2
        {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "secondary" -}}
        {{- end -}}
      ">
        {{- with .self.Content }}
          <div>
            {{- . | markdownify -}}
          </div>
        {{- end }}
      </div>
    </div>
  </div>
</div>
