{{ $data := ($.Scratch.Get "data").hero }}
{{ "<!-- Hero -->" | safeHTML }}
<header>
  {{ with $data.header }}
    <div class="jumbotron text-center header-image">
  {{ else }}
    <div class="jumbotron text-center">
  {{ end }}

  {{ if $data.particles }}
    <div id="particles-js"></div>
  {{ end }}

  {{ with $data.logo }}
    <img class="overlay img-fluid" src="{{ (printf "images/%s" .) | relURL }}"></img>
  {{ else }}
    <h1 class="overlay jumbotron-heading">
      {{ with $data.title }}
        {{ . }}
      {{ end }}
    </h1>
  {{ end }}
    <p class="overlay lead">
      {{ with $data.subtitle }}
        {{ . | markdownify }}
      {{ end }}
    </p>
    {{ if $data.button }}
     <a class="overlay btn btn-primary btn-lg{{ if hasPrefix $data.link "#" }} anchor {{ end }}" href="{{ $data.link | relLangURL }}">
        {{ $data.button }}
     </a>
    {{ end }}
{{ "<!-- TODO: subscribe for header -->" | safeHTML }}
  </div>
</header>
