{{- $name := strings.TrimSuffix ".md" (replace .self.Name "/index.md" "") -}}
{{- $root := .root -}}
{{- $bg := .Params.background | default "secondary" }}

{{/* Resource fallthrough preparation */}}
{{- $path := .self.File.Path -}}
{{- $path := replace $path "/index.md" "" -}}
{{- $path := strings.TrimSuffix ".md" $path -}}
{{- $page_path := replace $path (printf "/%s" $name) "" -}}

{{ "<!-- hero -->" | safeHTML }}
<header id="{{ $name }}">
  {{- if .Params.header }}
    <div class="jumbotron text-center header-image mb-0
     {{- printf " bg-%s" $bg -}}
    ">
  {{- else }}
    <div class="jumbotron text-center mb-0
     {{- printf " bg-%s" $bg -}}
    ">
  {{- end }}
  {{- if .Params.particles }}
    <div id="particles-js"></div>
  {{- end -}}

  {{- if .Params.logo -}}
    {{/* fallback to global resource */}}
    {{- $root.Scratch.Set "image" (printf "images/%s" .Params.logo.image) -}}
    {{- range .resources.ByType "image" -}}

      {{/* try for page specific resource */}}
      {{- $location := (printf "%s/%s" $page_path .Params.logo.image) -}}
      {{- if (fileExists $location) -}}
        {{/* special case index: trim index/ from url */}}
        {{- $location := strings.TrimPrefix "index/" $location -}}
        {{- $root.Scratch.Set "image" $location -}}
      {{- end -}}

      {{/* try for fragment specific resource */}}
      {{- $location := (printf "%s/%s" $path .Params.logo.image) -}}
      {{- if (fileExists $location) -}}
        {{/* special case index: trim index/ from url */}}
        {{- $location := strings.TrimPrefix "index/" $location -}}
        {{- $root.Scratch.Set "image" $location -}}
      {{- end -}}
    {{- end -}}
    {{- with .Params.logo }}
      <div class="row justify-content-center align-items-start">
        <img class="overlay img-fluid" src="{{ $root.Scratch.Get "image" | relURL }}"
          {{- if .height -}} height="{{ .height }}"{{- end -}}
          {{- if .width -}} width="{{ .width }}"{{- end -}}
        ></img>
      </div>
    {{- end }}
    {{- with .Params.subtitle }}
    <div class="row justify-content-center align-items-start">
      <h1 class="overlay jumbotron-heading my-4
        {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "light" -}}
        {{- end -}}
      ">
        {{- . | markdownify -}}
      </h1>
    </div>
    {{- end -}}
  {{- else }}
    {{- with .Params.title }}
    <div class="row justify-content-center align-items-start">
      <h1 class="overlay jumbotron-heading
        {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "light" -}}
        {{- end -}}
      ">
        {{- . -}}
      </h1>
    </div>
    {{- end -}}
    {{- with .Params.subtitle }}
    <div class="row justify-content-center align-items-start">
      <div class="overlay lead
        {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "light" -}}
        {{- end -}}
      ">
        {{- . | markdownify -}}
      </div>
    </div>
    {{- end -}}
  {{- end -}}
  {{- range .Params.buttons }}
    <a class="overlay btn btn-lg m-2{{ if hasPrefix .link " # " }} anchor{{ end }}
          {{- $color := .color | default "primary" -}}
          {{- printf " btn-%s " $color -}}
        " href="{{ .link | relLangURL }}">
    <div class="column justify-content-center align-content-center">
      {{- .text -}}
    </div>
    </a>

  {{- end }}
  </div>
</header>
{{- if .Params.particles }}
  <script src="{{ "hero.js" | relURL }}" defer async></script>
{{- end -}}
