{{- $bg := .Params.background | default "secondary" -}}
{{- if .Params.particles }}
  {{- .page_scratch.Add "js" "hero.js" }}
{{- end }}

{{ "<!-- hero -->" | safeHTML }}
<header id="{{ .Name }}">
  {{- if .Params.header }}
    {{/* Global resource fallback - can also be used within loops */}}
    {{- $image := .Params.header -}}

    {{/* Do not change the following snippet */}}
    {{/* Code is duplicated throughout the code */}}
    {{- $.root.Scratch.Set "image" (printf "images/%s" $image) -}}
    {{/* Page specific resource */}}
    {{- $location := (printf "%s/%s" $.fallthrough.page_path $image) -}}
    {{- if (fileExists (printf "content/%s" $location)) -}}
      {{/* special case index: trim _index/ from url */}}
      {{- $.root.Scratch.Set "image" $location -}}
    {{- end -}}

    {{/* Fragment specific resource */}}
    {{- $location := (printf "%s/%s" $.fallthrough.file_path $image) -}}
    {{- if (fileExists (printf "content/%s" $location)) -}}
      {{/* special case index: trim _index/ from url */}}
      {{- $.root.Scratch.Set "image" $location -}}
    {{- end -}}
    {{/* End of do not change */}}
    <div style="background-image:url({{ $.root.Scratch.Get "image" | relURL }})"
      class="jumbotron text-center header-image mb-0
      {{- printf " bg-%s" $bg -}}
    ">
  {{- else }}
    <div class="jumbotron text-center mb-0
      {{- printf " bg-%s" $bg -}}
    ">
  {{- end }}
  {{- if .Params.particles }}
    <div id="particles-js"></div>
  {{- end -}}
  {{- if .Params.logo -}}
    {{/* Global resource fallback - can also be used within loops */}}
    {{- $image := .Params.logo.image -}}

    {{/* Do not change the following snippet */}}
    {{/* Code is duplicated throughout the code */}}
    {{- $.root.Scratch.Set "image" (printf "images/%s" $image) -}}

    {{/* Page specific resource */}}
    {{- $location := (printf "%s/%s" $.fallthrough.page_path $image) -}}
    {{- if (fileExists (printf "content/%s" $location)) -}}
      {{/* special case index: trim _index/ from url */}}
      {{- $.root.Scratch.Set "image" $location -}}
    {{- end -}}

    {{/* Fragment specific resource */}}
    {{- $location := (printf "%s/%s" $.fallthrough.file_path $image) -}}
    {{- if (fileExists (printf "content/%s" $location)) -}}
      {{/* special case index: trim _index/ from url */}}
      {{- $.root.Scratch.Set "image" $location -}}
    {{- end -}}
    {{/* End of do not change */}}
    {{- with .Params.logo }}
      <div class="row justify-content-center align-items-start">
        <img class="overlay img-fluid" src="{{ $.root.Scratch.Get "image" | relURL }}"
          {{- if .height -}} height="{{ .height }}"{{- end -}}
          {{- if .width -}} width="{{ .width }}"{{- end -}}
        ></img>
      </div>
    {{- end }}
    {{- with .Params.subtitle }}
    <div class="row justify-content-center align-items-start">
      <h1 class="overlay jumbotron-heading my-4
        {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "light" -}}
        {{- end -}}
      ">
        {{- . | markdownify -}}
      </h1>
    </div>
    {{- end -}}
  {{- else }}
    {{- with .Params.title }}
    <div class="row justify-content-center align-items-start">
      <h1 class="overlay jumbotron-heading
        {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "light" -}}
        {{- end -}}
      ">
        {{- . -}}
      </h1>
    </div>
    {{- end -}}
    {{- with .Params.subtitle }}
    <div class="row justify-content-center align-items-start">
      <div class="overlay lead
        {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
          {{- printf " text-%s" "dark" -}}
        {{- else -}}
          {{- printf " text-%s" "light" -}}
        {{- end -}}
      ">
        {{- . | markdownify -}}
      </div>
    </div>
    {{- end -}}
  {{- end -}}
  {{- range .Params.buttons }}
    <a class="overlay btn btn-lg m-2{{ if hasPrefix .url " # " }} anchor{{ end }}
          {{- $color := .color | default "primary" -}}
          {{- printf " btn-%s " $color -}}
        " href="{{ .url | relLangURL }}">
    <div class="column justify-content-center align-content-center">
      {{- .text -}}
    </div>
    </a>

  {{- end }}
  </div>
</header>
