{{ $data := ($.Scratch.Get "data") }}
{{ "<!-- Item -->" | safeHTML }}
{{ $bg := $data.background | default "light"}}

<section {{ with $data.selfLink }}id="{{ . }}"{{ end }}>
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row align-items-center
        {{- if eq $data.align "left" -}}
          {{- printf " justify-content-start" -}}
        {{- else -}}
          {{- printf " justify-content-end" -}}
        {{- end -}}
      ">
        <div class="col-12
          {{- if eq $data.align "left" -}}
            {{- printf " order-lg-1 pr-lg-5 col-lg-8" -}}
          {{- else if eq $data.align "center" -}}
            {{- printf " order-lg-1 text-center" -}}
          {{- else -}}
            {{- printf " order-lg-12 pl-lg-5 col-lg-8" -}}
          {{- end -}}
        ">
          {{ if $data.title }}
            <div class="row pb-3">
              <div class="col-12
                {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "black" -}}
                {{- else -}}
                  {{- printf " text-%s" "light" -}}
                {{- end -}}
              ">
                <h2>
                  {{ $data.title | markdownify }}
                </h2>
              </div>
            </div>
          {{ end }}
          {{ if $data.subtitle }}
            <div class="row pb-2
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">
              <div class="col-12">
                <h5>
                  {{ $data.subtitle | markdownify }}
                </h5>
              </div>
            </div>
          {{ end }}
          {{ if $data.description }}
            <div class="mb-0
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">{{ $data.description  | markdownify}}</div>
          {{ end }}
        </div>
        <div class="col-12 text-center
          {{- if eq $data.align "left" -}}
            {{- printf " order-lg-12 mt-5 ml-auto col-lg-4" -}}
          {{- else if eq $data.align "center" -}}
            {{- printf " order-lg-12" -}}
          {{- else -}}
            {{- printf " order-lg-1 mt-5 mr-auto col-lg-4" -}}
          {{- end -}}
        ">
          <div class="row">
            <div class="col-12 text-center">
              {{ if $data.icon }}
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x
                    {{- if eq $bg "primary" -}}
                      {{- printf " text-%s" "dark" -}}
                    {{- else -}}
                      {{- printf " text-%s" "primary" -}}
                    {{- end -}}
                  "></i>
                  <i class="fa {{ $data.icon }} fa-stack-1x fa-inverse"></i>
                </span>
              {{ else if $data.image }}
                {{ $url := printf "images/row/%s" $data.image }}
                <img src="{{ $url | absURL }}" class="img-fluid p-2" alt="{{ $data.name }}">
              {{ end }}
              {{ range $data.buttons }}
                <a class="btn btn-lg m-2
                  {{ if hasPrefix .link "#" }} anchor{{ end }}
                  {{- $color := .color | default "primary" -}}
                  {{- printf " btn-%s" $color -}}
                " href="{{ .link | relLangURL }}">
                  {{ .text }}
                </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
