{{- $bg := .Params.background | default "light" -}}
{{- $align := .Params.align | default "center" -}}

{{/* Global resource fallback - can also be used within loops */}}
{{- $image := .Params.image -}}

{{/* Do not change the following snippet */}}
{{/* Code is duplicated throughout the code */}}
{{- $.root.Scratch.Set "image" (printf "images/%s" $image) -}}

{{/* Page specific resource */}}
{{- $location := (printf "%s/%s" $.fallthrough.page_path $image) -}}
{{- if (fileExists (printf "content/%s" $location)) -}}
  {{/* special case index: trim _index/ from url */}}
  {{- $location := strings.TrimPrefix "_index/" $location -}}
  {{- $.root.Scratch.Set "image" $location -}}
{{- end -}}

{{/* Fragment specific resource */}}
{{- $location := (printf "%s/%s" $.fallthrough.file_path $image) -}}
{{- if (fileExists (printf "content/%s" $location)) -}}
  {{/* special case index: trim _index/ from url */}}
  {{- $location := strings.TrimPrefix "_index/" $location -}}
  {{- $.root.Scratch.Set "image" $location -}}
{{- end -}}
{{/* End of do not change */}}

{{ "<!-- Item -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row align-items-center text-center
        {{- if eq $align "left" -}}
          {{- printf " justify-content-start text-lg-left" -}}
        {{- else if eq $align "right" -}}
          {{- printf " justify-content-start text-lg-left" -}}
        {{- else -}}
          {{- printf " justify-content-end" -}}
        {{- end -}}
      ">
        <div class="col-12
          {{- if eq $align "left" -}}
            {{- printf " order-lg-1 pr-lg-5 col-lg-8" -}}
          {{- else if eq $align "right" -}}
            {{- printf " order-lg-12 pl-lg-5 col-lg-8" -}}
          {{- else -}}
            {{- printf " order-lg-1 text-center" -}}
          {{- end -}}
        ">
          {{- if .Params.title }}
            <div class="row pb-3">
              <div class="col-12
                {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-%s" "light" -}}
                {{- end -}}
              ">
                <h2>
                  {{- .Params.title | markdownify -}}
                </h2>
              </div>
            </div>
          {{- end -}}
          {{- if .Params.subtitle }}
            <div class="row pb-2">
              <div class="col-12
                {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-muted text-%s" "secondary" -}}
                {{- end -}}
              ">
                <h5>
                  {{- .Params.subtitle | markdownify -}}
                </h5>
              </div>
            </div>
          {{- end }}
          <div class="col-12 text-center d-lg-none pb-4
            {{- if eq $align "left" -}}
              {{- printf " order-lg-12 mt-lg-5 ml-lg-auto col-lg-4" -}}
            {{- else if eq $align "right" -}}
              {{- printf " order-lg-1 mt-lg-5 mr-lg-auto col-lg-4" -}}
            {{- else -}}
              {{- printf " order-lg-12" -}}
            {{- end -}}
            {{- if and (not .Params.icon) (not .Params.image) -}}
              {{- printf " " -}}
            {{- end -}}
          ">
            <div class="row">
              <div class="col-12">
                {{- if .Params.pre }}
                  <div class="row">
                    <div class="col-12
                      {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                        {{- printf " text-%s" "dark" -}}
                      {{- else -}}
                        {{- printf " text-muted text-%s" "secondary" -}}
                      {{- end -}}
                    ">
                      <p class="mb-0">
                        {{- .Params.pre | markdownify -}}
                      </p>
                    </div>
                  </div>
                {{- end -}}
                {{- if .Params.icon }}
                  <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x
                      {{- if eq $bg "primary" -}}
                        {{- printf " text-%s" "dark" -}}
                      {{- else -}}
                        {{- printf " text-%s" "primary" -}}
                      {{- end -}}
                    "></i>
                    <i class="{{ .Params.icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                {{- else if .Params.image -}}
                  <img src="{{ $.root.Scratch.Get "image" | relURL }}" class="img-fluid p-2" alt="{{ .Params.title }}">
                {{- end -}}
                {{- if and (not .Params.icon) (not .Params.image) -}}
                  {{- range .Params.buttons }}
                    <a class="btn btn-lg m-2 d-none d-lg-inline
                      {{ if hasPrefix .url "#" }} anchor{{ end }}
                      {{- $color := .color | default "primary" -}}
                      {{- printf " btn-%s" $color -}}
                    " href="{{ .url | relLangURL }}">
                      {{- .text -}}
                    </a>
                  {{- end -}}
                {{- end -}}
                {{- if .Params.post }}
                  <div class="row">
                    <div class="col-12 mb-0
                      {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                        {{- printf " text-%s" "dark" -}}
                      {{- else -}}
                        {{- printf " text-muted text-%s" "secondary" -}}
                      {{- end -}}
                    ">
                      <p class="mb-0">
                        {{- .Params.post | markdownify -}}
                      </p>
                    </div>
                  </div>
                {{- end }}
              </div>
            </div>
          </div>
          {{- if .self.Content -}}
          <div class="row
            {{- if eq $align "left" -}}
              {{- printf " text-left" -}}
            {{- else if eq $align "right" -}}
              {{- printf " text-left" -}}
            {{- else -}}
              {{- printf " text-lg-center text-left" -}}
            {{- end -}}
          ">
            <div class="col-12">
              <div class="mb-0
                {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-muted text-%s" "secondary" -}}
                {{- end -}}
              ">
                {{- .self.Content | markdownify -}}
              </div>
            </div>
          </div>
          {{- end -}}
          {{- if or .Params.icon .Params.image }}
            <div class="col-12 text-center mb-2 {{ printf "text-lg-%s" $align }}">
              {{- range .Params.buttons }}
                <a class="btn btn-lg m-2
                  {{ if hasPrefix .url "#" }} anchor{{ end }}
                  {{- $color := .color | default "primary" -}}
                  {{- printf " btn-%s" $color -}}
                " href="{{ .url | relLangURL }}">
                  {{- .text -}}
                </a>
              {{- end }}
            </div>
          {{- end -}}
          {{- if .Params.rows }}
            <div class="row justify-content-center">
              <div class="col col-lg-12 mr-lg-auto table-responsive">
                <table class="table table-bordered
                  {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                    {{- printf " text-%s" "dark" -}}
                  {{- else -}}
                    {{- printf " text-muted text-%s" "secondary" -}}
                  {{- end -}}
                ">
                  <thead>
                    <tr>
                      {{- $.Scratch.Set "col" 0 -}}
                      {{- range .Params.header.values }}
                        <th class="
                          {{- if .center -}}
                            {{- printf " text-center" -}}
                          {{- end -}}
                        ">
                          {{- .text | markdownify -}}
                        </th>
                        {{- $.Scratch.Add "col" 1 -}}
                      {{- end -}}
                    </tr>
                  </thead>
                  <tbody>
                    {{- range .Params.rows -}}
                      {{- $.Scratch.Set "col" 0 }}
                      <tr>
                        {{- range .values -}}
                          {{- if .header }}
                          <th class="align-middle
                            {{- if .center -}}
                              {{- printf " text-center" -}}
                            {{- end -}}
                          ">{{ .header | markdownify }}</th>
                          {{- else if .button }}
                            <td class="align-middle
                              {{- if .center -}}
                                {{- printf " text-center" -}}
                              {{- end -}}
                            ">
                              <a class="btn
                              {{ if hasPrefix .url "#" }} anchor{{ end }}
                              {{- $color := .color | default "primary" -}}
                              {{- printf " btn-%s" $color -}}
                            " href="{{ .url | relLangURL }}">
                              {{- .button -}}
                            </a>
                          </td>
                        {{- else if .icon }}
                          <td class="align-middle
                            {{- if .center -}}
                              {{- printf " text-center" -}}
                            {{- end -}}
                          ">
                            <a href="{{ .url }}">
                              <i class="{{ .icon }} fa-2x"></i>
                            </a>
                          </td>
                        {{- else }}
                          <td class="align-middle
                            {{- if .center -}}
                              {{- printf " text-center" -}}
                            {{- end -}}
                          ">{{ .text | markdownify }}</td>
                        {{- end -}}
                        {{- $.Scratch.Add "col" 1 -}}
                      {{- end -}}
                    </tr>
                  {{- end -}}
                </tbody>
              </table>
            </div>
          </div>
        {{- end -}}
      </div>
        <div class="col-12
          {{- if eq $align "left" -}}
            {{- printf " order-lg-12 ml-lg-auto col-lg-4" -}}
          {{- else if eq $align "right" -}}
            {{- printf " order-lg-1 mr-lg-auto col-lg-4" -}}
          {{- else -}}
            {{- printf " order-lg-12" -}}
          {{- end -}}
        ">
          <div class="row justify-content-center">
            {{- if .Params.pre }}
              <div class="row">
                <div class="col-12 mb-0 d-none d-lg-inline
                  {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                    {{- printf " text-%s" "dark" -}}
                  {{- else -}}
                    {{- printf " text-muted text-%s" "secondary" -}}
                  {{- end -}}
                ">
                  <p class="mb-0">
                    {{- .Params.pre | markdownify -}}
                  </p>
                </div>
              </div>
            {{- end -}}
            {{- if .Params.icon }}
              <div class="col-12 text-center d-none d-lg-inline">
                <span class="fa-stack fa-4x">
                  <i class="fas fa-circle fa-stack-2x
                    {{- if eq $bg "primary" -}}
                      {{- printf " text-%s" "dark" -}}
                    {{- else -}}
                      {{- printf " text-%s" "primary" -}}
                    {{- end -}}
                  "></i>
                  <i class="{{ .Params.icon }} fa-stack-1x fa-inverse"></i>
                </span>
              </div>
            {{- else if .Params.image }}
              <div class="col-12 text-center d-none d-lg-inline">
                <img src="{{ $.root.Scratch.Get "image" | relURL }}" class="img-fluid p-2" alt="{{ .Params.title }}">
              </div>
            {{- end -}}
            {{- if and (not .Params.icon) (not .Params.image) }}
              <div class="col-12 text-center">
                {{- range .Params.buttons }}
                  <a class="btn btn-lg m-2
                    {{ if hasPrefix .url "#" }} anchor{{ end }}
                    {{- $color := .color | default "primary" -}}
                    {{- printf " btn-%s" $color -}}
                  " href="{{ .url | relLangURL }}">
                    {{- .text -}}
                  </a>
                  {{- end }}
              </div>
            {{- end -}}
            {{- if .Params.post }}
              <div class="row">
                <div class="col-12 mb-0 d-none d-lg-inline
                  {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                    {{- printf " text-%s" "dark" -}}
                  {{- else -}}
                    {{- printf " text-muted text-%s" "secondary" -}}
                  {{- end -}}
                ">
                  <p class="mb-0">
                    {{- .Params.post | markdownify -}}
                  </p>
                </div>
              </div>
            {{- end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
