{{ $data := ($.Scratch.Get "data") }}
{{ "<!-- Item -->" | safeHTML }}
{{ $bg := $data.background | default "light"}}
{{ $align := $data.align | default "center" }}

<section {{ with $data.selfLink }}id="{{ . }}"{{ end }}>
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row align-items-center text-center
        {{- if eq $align "left" -}}
          {{- printf " justify-content-start text-lg-left" -}}
        {{- else if eq $align "right" -}}
          {{- printf " justify-content-start text-lg-left" -}}
        {{- else -}}
          {{- printf " justify-content-end" -}}
        {{- end -}}
      ">
        <div class="col-12
          {{- if eq $align "left" -}}
            {{- printf " order-lg-1 pr-lg-5 col-lg-8" -}}
          {{- else if eq $align "right" -}}
            {{- printf " order-lg-12 pl-lg-5 col-lg-8" -}}
          {{- else -}}
            {{- printf " order-lg-1 text-center" -}}
          {{- end -}}
        ">
          {{ if $data.title }}
            <div class="row pb-3">
              <div class="col-12
                {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "black" -}}
                {{- else -}}
                  {{- printf " text-%s" "light" -}}
                {{- end -}}
              ">
                <h2>
                  {{- $data.title | markdownify -}}
                </h2>
              </div>
            </div>
          {{ end }}
          {{ if $data.subtitle }}
            <div class="row pb-2">
              <div class="col-12
                {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-muted text-%s" "secondary" -}}
                {{- end -}}
              ">
                <h5>
                  {{- $data.subtitle | markdownify -}}
                </h5>
              </div>
            </div>
          {{ end }}
          <div class="col-12 text-center d-lg-none pb-5
            {{- if eq $align "left" -}}
              {{- printf " order-lg-12 mt-lg-5 ml-lg-auto col-lg-4" -}}
            {{- else if eq $align "right" -}}
              {{- printf " order-lg-1 mt-lg-5 mr-lg-auto col-lg-4" -}}
            {{- else -}}
              {{- printf " order-lg-12" -}}
            {{- end -}}
          ">
            <div class="row">
              <div class="col-12">
                {{ if $data.icon }}
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x
                      {{- if eq $bg "primary" -}}
                        {{- printf " text-%s" "dark" -}}
                      {{- else -}}
                        {{- printf " text-%s" "primary" -}}
                      {{- end -}}
                    "></i>
                    <i class="fa {{ $data.icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                {{ else if $data.image }}
                  {{ $url := printf "images/row/%s" $data.image }}
                  <img src="{{ $url | absURL }}" class="img-fluid p-2" alt="{{ $data.name }}">
                {{ end }}
                {{ range $data.buttons }}
                  <a class="btn btn-lg m-2
                    {{ if hasPrefix .link "#" }} anchor{{ end }}
                    {{- $color := .color | default "primary" -}}
                    {{- printf " btn-%s" $color -}}
                  " href="{{ .link | relLangURL }}">
                    {{- .text -}}
                  </a>
                {{ end }}
              </div>
            </div>
          </div>
          {{ if $data.description }}
          <div class="row
            {{- if eq $align "left" -}}
              {{- printf " text-left" -}}
            {{- else if eq $align "right" -}}
              {{- printf " text-left" -}}
            {{- else -}}
              {{- printf " text-lg-center text-left" -}}
            {{- end -}}
          ">
            <div class="col-12">
              <div class="mb-0
                {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-muted text-%s" "secondary" -}}
                {{- end -}}
              ">
                {{- $data.description  | markdownify -}}
              </div>
            </div>
          </div>
          {{ end }}
          {{ if $data.rows }}
            <div class="row justify-content-center">
              <div class="col col-lg-12 mr-lg-auto table-responsive">
                <table class="table table-bordered
                  {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                    {{- printf " text-%s" "dark" -}}
                  {{- else -}}
                    {{- printf " text-muted text-%s" "secondary" -}}
                  {{- end -}}
                ">
                  <thead>
                    <tr>
                      {{ $.Scratch.Set "col" 0 }}
                      {{ range $data.header.values }}
                        <th class="
                          {{- if $data.unimportant -}}
                            {{- if index $data.unimportant ($.Scratch.Get "col") -}}
                              {{- printf " d-none d-sm-none d-md-table-cell d-lg-table-cell d-xl-table-cell" -}}
                            {{- end -}}
                          {{- end -}}
                          {{- if .center -}}
                            {{- printf " text-center" -}}
                          {{- end -}}
                        ">
                          {{- .text | markdownify -}}
                        </th>
                        {{ $.Scratch.Add "col" 1 }}
                      {{ end }}
                    </tr>
                  </thead>
                  <tbody>
                    {{ range $data.rows }}
                      {{ $.Scratch.Set "col" 0 }}
                      <tr>
                        {{ range .values }}
                          {{ if .header }}
                          <th class="align-middle
                            {{- if $data.unimportant -}}
                              {{- if index $data.unimportant ($.Scratch.Get "col") -}}
                                {{- printf " d-none d-sm-none d-md-table-cell d-lg-table-cell d-xl-table-cell" -}}
                              {{- end -}}
                            {{- end -}}
                            {{- if .center -}}
                              {{- printf " text-center" -}}
                            {{- end -}}
                          ">{{ .header | markdownify }}</th>
                          {{ else if .button }}
                            <td class="align-middle
                              {{- if $data.unimportant -}}
                                {{- if index $data.unimportant ($.Scratch.Get "col") -}}
                                  {{- printf " d-none d-sm-none d-md-table-cell d-lg-table-cell d-xl-table-cell" -}}
                                {{- end -}}
                              {{- end -}}
                              {{- if .center -}}
                                {{- printf " text-center" -}}
                              {{- end -}}
                            ">
                              <a class="btn
                              {{ if hasPrefix .link "#" }} anchor{{ end }}
                              {{- $color := .color | default "primary" -}}
                              {{- printf " btn-%s" $color -}}
                            " href="{{ .link | relLangURL }}">
                              {{- .button -}}
                            </a>
                          </td>
                        {{ else if .icon }}
                          <td class="align-middle
                            {{- if $data.unimportant -}}
                              {{- if index $data.unimportant ($.Scratch.Get "col") -}}
                                {{- printf " d-none d-sm-none d-md-table-cell d-lg-table-cell d-xl-table-cell" -}}
                              {{- end -}}
                            {{- end -}}
                            {{- if .center -}}
                              {{- printf " text-center" -}}
                            {{- end -}}
                          ">
                            <a href="{{ .links }}">
                              <i class="fa {{ .icon }} fa-2x"></i>
                            </a>
                          </td>
                        {{ else }}
                          <td class="align-middle
                            {{- if $data.unimportant -}}
                              {{- if index $data.unimportant ($.Scratch.Get "col") -}}
                                {{- printf " d-none d-sm-none d-md-table-cell d-lg-table-cell d-xl-table-cell" -}}
                              {{- end -}}
                            {{- end -}}
                            {{- if .center -}}
                              {{- printf " text-center" -}}
                            {{- end -}}
                          ">{{ .text | markdownify }}</td>
                        {{ end }}
                        {{ $.Scratch.Add "col" 1 }}
                      {{ end }}
                    </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
          </div>
        {{ end }}
      </div>
        <div class="col-12 text-center d-none d-lg-inline
          {{- if eq $align "left" -}}
            {{- printf " order-lg-12 mt-5 ml-lg-auto col-lg-4" -}}
          {{- else if eq $align "right" -}}
            {{- printf " order-lg-1 mt-5 mr-lg-auto col-lg-4" -}}
          {{- else -}}
            {{- printf " order-lg-12" -}}
          {{- end -}}
        ">
          <div class="row">
            <div class="col-12 text-center">
              {{ if $data.icon }}
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x
                    {{- if eq $bg "primary" -}}
                      {{- printf " text-%s" "dark" -}}
                    {{- else -}}
                      {{- printf " text-%s" "primary" -}}
                    {{- end -}}
                  "></i>
                  <i class="fa {{ $data.icon }} fa-stack-1x fa-inverse"></i>
                </span>
              {{ else if $data.image }}
                {{ $url := printf "images/row/%s" $data.image }}
                <img src="{{ $url | absURL }}" class="img-fluid p-2" alt="{{ $data.name }}">
              {{ end }}
              {{ range $data.buttons }}
                <a class="btn btn-lg m-2
                  {{ if hasPrefix .link "#" }} anchor{{ end }}
                  {{- $color := .color | default "primary" -}}
                  {{- printf " btn-%s" $color -}}
                " href="{{ .link | relLangURL }}">
                  {{- .text -}}
                </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
