{{- $self := . -}}
{{/*
  This variable stores all the page bundles in the blog section. There are three
  where functions achieving this. First where gets all the pages in blog
  section, the second one removes current page from the mix and the last one
  removes the section (.Site.Pages returns the current section as a page). */}}
{{- .page_scratch.Set "pages" (.Site.GetPage "Section" (.Params.section | default .root.Section)).Pages -}}
{{- .page_scratch.Add "pages" (.Site.GetPage "Section" (.Params.section | default .root.Section)).Sections -}}
{{- if and (not .Params.section) (eq .root.CurrentSection.Kind "section") -}}
  {{- .page_scratch.Set "pages" (.root.CurrentSection.Pages) -}}
  {{- if (ne .Params.subsections false) -}}
    {{- .page_scratch.Add "pages" .root.CurrentSection.Sections -}}
  {{- end -}}
  {{- if .Params.subsection_leaves -}}
    {{- range .root.CurrentSection.Sections -}}
      {{- $self.page_scratch.Add "pages" .Pages -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $bg := .Params.background | default "light" }}

{{ "<!-- Blog -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid {{- printf " bg-%s" $bg -}}">
    <div class="container py-5">
      <l class="row">
        <div class="row
          {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
            {{- printf " text-%s" "dark" -}}
          {{- else -}}
            {{- printf " text-muted text-%s" "secondary" -}}
          {{- end -}}
        ">
          {{- range first (.Params.count | default 10) (.page_scratch.Get "pages") }}
            {{- if $self.Params.tiled -}}
              <div class="col-lg-6 col-12 mb-2 d-flex">
            {{- end -}}
              <article class="
                {{- if $self.Params.tiled -}}
                  {{- printf "card w-100" -}}
                {{- else -}}
                  {{- printf "col-12 mb-4" -}}
                {{- end -}}">
                {{- if $self.Params.tiled }}
                  <div class="card-body">
                {{- end -}}
                  {{- if .Params.title -}}
                    {{- if $self.Params.tiled }}
                      <div class="card-title">
                    {{- end }}
                      <div class="col-12 pl-0
                        {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                          {{- printf " text-%s" "dark" -}}
                        {{- else -}}
                          {{- printf " text-%s" "light" -}}
                        {{- end -}}
                      ">
                        <a href="{{ .URL }}">
                          <h3>
                            {{- .Params.title | markdownify -}}
                          </h3>
                        </a>
                      </div>
                    {{- if $self.Params.tiled }}
                      </div>
                    {{- end -}}
                  {{- end -}}
                  {{- if .Params.asset -}}
                    <a href="{{ .URL }}">
                      <img src="{{ partial "helpers/image.html" (dict "root" $self "asset" .Params.asset) }}" alt="{{ .Params.subtitle | default .Params.title }}" class="img-fluid mb-4">
                    </a>
                  {{- end -}}
                  {{ $self.page_scratch.Set "pages" (slice .) }}
                  {{ range .Resources.ByType "page" }}
                    {{ $self.page_scratch.Add "pages" . }}
                  {{ end }}
                  {{- if or (not (isset $self.Params "summary")) (eq $self.Params.summary true) }}
                    <div class="col-12 pl-0
                      {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                        {{- printf " text-%s" "dark" -}}
                      {{- else -}}
                        {{- printf " text-muted text-%s" "secondary" -}}
                      {{- end -}}
                    ">
                      {{- range first 1 (where ($self.page_scratch.Get "pages") "Params.fragment" "in" "content") }}
                        {{ .Summary }}
                        {{- if and (not $self.Params.tiled) (ne $self.Params.read_more false) -}}
                          {{- if or $self.Params.read_more .Truncated }}
                            <a class="badge
                            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                              {{- printf " badge-%s" "dark" -}}
                            {{- else -}}
                              {{- printf " badge-%s" "secondary" -}}
                            {{- end -}}" href="{{ .URL }}">{{ i18n "content.readmore" | default "Read more..." }}</a>
                          {{- end -}}
                        {{- end -}}
                      {{- end -}}
                    </div>
                  {{- end -}}
                {{- if $self.Params.tiled }}
                  </div>
                  {{- range first 1 (where ($self.page_scratch.Get "pages") "Params.fragment" "in" "content") }}
                    {{- if and (ne $self.Params.read_more false) (or $self.Params.read_more .Truncated) }}
                      <div class="card-footer">
                        <a href="{{ .URL }}">{{ i18n "content.readmore" | default "Read more..." }}</a>
                      </div>
                    {{- end -}}
                  {{- end -}}
                {{- end }}
              </article>
            {{- if $self.Params.tiled }}
              </div>
            {{- end -}}
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>
