{{ $data := ($.Scratch.Get "data") }}
{{ "<!-- Logos -->" | safeHTML }}
<section {{ with $data.selfLink }}id="{{ . }}"{{ end }}>
    <div class="container-fluid {{ if eq $data.background "dark" }}bg-dark{{ end }}">
      <div class="container py-3">
        {{ with $data.title }}
          <div class="row">
            <div class="col text-center {{ if eq $data.background "dark" }}text-secondary{{ end }}">
              <h4>
                {{ . | markdownify }}
              </h4>
            </div>
          </div>
        {{ end }}
        {{ with $data.subtitle }}
          <div class="row">
            <div class="col text-center text-muted {{ if eq $data.background "dark" }}text-secondary{{ end }}">
              <h5>
                {{ . | markdownify }}
              </h5>
            </div>
          </div>
        {{ end }}
        <div class="row justify-content-center align-items-center">
          {{ range sort $data.logos "weight" }}
            <div class="col-7 col-sm-4 text-center py-2">
              {{ $url := printf "images/logos/%s" .logo }}
              {{ if .link }}
                <a href="{{ .link }}">
                  <img src="{{ $url | absURL }}" class="p-2 w-75" alt="{{ .name }}">
                </a>
              {{ else }}
                <img src="{{ $url | absURL }}" class="p-2 w-75" alt="{{ .name }}">
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
</section>
