{{ $memberf := .self.Params }}
{{ $name := .self.Name }}
{{ $name_t := strings.TrimSuffix ".md" $name }}
{{ $members := .resources.Match (printf "%s/*" $name_t) }}
{{ "<!-- Member -->" | safeHTML }}
{{ $bg := $memberf.background | default "light"}}

<section {{ with $memberf.selfLink }}id="{{ . }}"{{ end }}>
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      {{ with $memberf.title }}
        <div class="row">
          <div class="col text-center
            {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-%s" "light" -}}
            {{- end -}}
          ">
            <h2>
              {{- . | markdownify -}}
            </h2>
          </div>
        </div>
      {{ end }}
      {{ with $memberf.subtitle }}
        <div class="row">
          <div class="col text-center pt-2 pb-3
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}  
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            <h5>
              {{- . | markdownify -}}
            </h5>
          </div>
        </div>
      {{ end }}
      <div class="row justify-content-center align-items-start">
        {{ range $members }}
          {{ $member := .Params }}
          <div class="col-lg-4 col-md-6 col-sm-12 pt-3 pb-5 text-left text-sm-center">
            <div class="text-center m-2">
              <img src="/images/member/{{ $member.image }}" class="img-fluid rounded-circle w-75 border
                {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " border-%s" "dark" -}}
                {{- else -}}
                  {{- printf " border-%s" "white" -}}
                {{- end -}}
              " alt=""></img>
            </div>
            <div class="mt-5 mb-0
              {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-%s" "light" -}}
              {{- end -}}
            ">
              <h2>
                {{- $member.title -}}
              </h2>
            </div>
            <div class="member
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">
              {{ with $member.position }}
                <h5 class="mb-3">
                  {{- . | markdownify -}}
                </h5>
              {{ end }}
              {{ with $member.reportsTo }}
                <h6 class="font-italic mb-1">
                  {{- i18n "member.reportsTo" }} {{ printf " %s" . | markdownify -}}
                </h6>
                {{ end }}
              {{ with $member.livesIn }}
                <h6 class="font-italic mb-1">
                  {{- i18n "member.livesIn" }} {{ printf " %s" . | markdownify -}}
                </h6>
              {{ end }}
              {{ if $member.scope }}
                <div class="pt-3 font-weight-bold">
                  {{ range $member.scope }}
                    <div>
                      {{- . | markdownify -}}
                    </div>
                  {{ end }}
                </div>
              {{ end }}
              {{ if $member.icons }}
              <div class="row justify-content-center pt-4">
                {{ range $member.icons }}
                  <span class="fa-stack fa-2x m-2">
                    <a href="{{ .link }}">
                      <i class="fas fa-circle fa-stack-2x
                        {{- if eq $bg "primary" -}}
                          {{- printf " text-%s" "dark" -}}
                        {{- end -}}
                      "></i>
                      <i class="fab {{ .icon }} fa-stack-1x fa-inverse"></i>
                    </a>
                  </span>
                {{ end }}
              </div>
              {{ end }}
                {{ with .Content }}
                  <div class="pt-3">
                    <p class="description">
                      {{- . | markdownify -}}
                    </p>
                  </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
