{{ $nav := .self.Params }}
{{ "<!-- Nav -->" | safeHTML }}
{{ $bg := $nav.background | default "secondary" }}

<nav class="overlay navbar navbar-expand-lg py-2
  {{- $bg := .Site.Params.style.background_navigation | default "dark" -}}
  {{- printf " bg-%s" $bg -}}
  {{- if or (eq $bg "light") (eq $bg "white") (eq $bg "secondary") -}}
    {{- printf " navbar-%s" "light" -}}
  {{- else -}}
    {{- printf " navbar-%s" "dark" -}}
  {{- end -}}
">
  <div class="container">
    {{ if $nav.branding.logo }}
      <a class="navbar-brand py-0" href="{{ "#page-top" | relLangURL }}">
        <img src="{{ (printf "images/%s" $nav.branding.logo) | relURL }}" height="35" class="d-inline-block align-top" alt="{{ $nav.branding.text }}">
      </a>
    {{ else }}
      <a class="navbar-brand py-0" href="{{ "#page-top" | relLangURL }}">
        {{- $nav.branding.text -}}
      </a>
    {{ end }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        {{ if $nav.prepend }}
          {{ range sort $nav.prepend }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .url | relLangURL }}"
                {{ if hasPrefix .url "#" }}
                  class="anchor"
                {{ end }}>
                {{- .name -}}
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{ if $nav.main }}
          {{ range sort $nav.main }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .url | relLangURL }}"
                {{ if hasPrefix .url "#" }}
                  class="anchor"
                {{ end }}>
                {{- .name -}}
              </a>
            </li>
          {{ end }}
        {{ end }}
        {{ if $nav.postpend }}
          {{ range sort $nav.postpend }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .url | relLangURL }}"
                {{ if hasPrefix .url "#" }}
                  class="anchor"
                {{ end }}>
                {{- .name -}}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ if .Site.IsMultiLingual }}
        {{ range .Site.Languages }}
          <a class="btn btn-secondary p-1 m-1" href="{{ delimit (slice "/" .) "" }}" role="button">
            {{- . -}}
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ if $nav.repo_button }}
    <div class="d-none d-lg-block pl-auto">
      <a class="btn btn-light" href="{{ $nav.repo_button.url }}" role="button">
        <i class="{{ printf "fab %s" $nav.repo_button.icon | default (printf "fab fa-github") }} mr-1"></i>
        {{- $nav.repo_button.text | default (printf "Star") -}}
      </a>
    </div>
  {{ end }}
</nav>
<div class="scroll-to-top bg-primary
  {{- if not .Site.Params.fontawesome.disabled -}}
    {{ print " has-font-icon" }}
  {{- end -}}">
  {{ if not .Site.Params.fontawesome.disabled }}
    <i class="fas fa-angle-up"></i>
  {{ else }}
    Top
  {{ end }}
</div>
