{{- $self := . -}}
{{- .page_scratch.Add "js" (dict "url" "https://js.stripe.com/v3/" "defer" false "async" false) -}}
{{- .page_scratch.Add "js" (dict "file" "syna-payment.js") -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "Name" .Name "Params" .Params) -}}
  {{- partial "helpers/section-header.html" (dict "bg" $bg "params" .Params) -}}
  {{- with .self.Content -}}
    <div class="row">
      <div class="col text-center mt-3
        {{- partial "helpers/text-color.html" (dict "self" $self.self "light" "secondary") -}}
      ">
        {{ . }}
      </div>
    </div>
  {{- end }}
  <div class="row mt-3 justify-content-center">
    <form action="
      {{- print .Params.post_url -}}
    " method="post" id="payment-form" class="col-sm-12 col-md-8 col-xl-6">
      <div class="form-group">
        <input id="email" name="email" class="form-control" type="text" data-validation="email" required>
        <div class="px-2" data-error id="email-error"></div>
      </div>
      <div class="form-group">
        <div id="card-element"></div>
        <div class="invalid-feedback d-block"></div>
      </div>
      <div class="row justify-content-end pr-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
<script>
window.syna.payment.push({
  token: "{{ .Params.stripe_token | safeJS }}",
  options: {
    classes: {
      base: 'text-body form-control row mx-0 px-2',
      invalid: 'text-warning',
      empty: 'text-body',
      complete: 'text-success'
    },
    cardNumber: {
      placeholder: '{{ .Params.payment.placeholder | default "4242 4242 4242 4242" }}'
    }
  }
});
</script>
