{{- $items := where (.page.Resources.Match (printf "%s/*.md" .Name)) ".Name" "ne" .self.Name -}}
{{- $bg := .Params.background | default "light" -}}
{{- .page_scratch.Add "js" "portfolio.js" }}

{{ "<!-- Porfolio -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      {{- with .Params.title }}
        <div class="row">
          <div class="col text-center
            {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-%s" "light" -}}
            {{- end -}}
          ">
            <h2>
              {{- . | markdownify -}}
            </h2>
          </div>
        </div>
      {{- end -}}
      {{- with .Params.subtitle -}}
        <div class="row">
          <div class="col text-center pt-4 pb-5
            {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
              {{- printf " text-%s" "dark" -}}
            {{- else -}}
              {{- printf " text-muted text-%s" "secondary" -}}
            {{- end -}}
          ">
            <h5>
              {{- . | markdownify -}}
            </h5>
          </div>
        </div>
      {{- end }}
      <div class="row">
        {{- range (sort $items ".Params.weight") }}
          <div class="col-lg-4 col-md-6 col-12 py-2">
            <div class="border rounded position-relative portfolio-item overflow-hidden 
              {{- if not .Params.url }} has-modal {{- end -}}
            ">
              {{- if .Params.url }}
                <a href="{{ .Params.url | relURL }}">
              {{- end }}
                  <img src="{{ printf "images/%s" .Params.image | relURL }}" class="img-fluid" alt="{{ .Params.title }}">
                  <div class="position-absolute hover-overlay"></div>
                  {{- if or .Params.title .Params.subtitle }}
                    <div class="position-absolute description-container col">
                      <div class="row justify-content-center description text-light p-2 rounded text-center">
                        {{ if .Params.title }}<h5 class="title">{{ .Params.title }}</h5>{{ end }}
                        {{ if .Params.subtitle }}<h6 class="subtitle">{{ .Params.subtitle }}</h6>{{ end }}
                      </div>
                    </div>
                  {{- end }}
                  <div class="content hidden">{{ .Content }}</div>
              {{- if .Params.url }}
                </a>
              {{- end }}
            </div>
          </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
