{{- $bg := .Params.background | default "light" -}}

{{ "<!-- Table -->" | safeHTML }}
<section id="{{ .Name }}">
  <div class="overlay container-fluid
    {{- printf " bg-%s" $bg -}}
  ">
    <div class="container py-5">
      <div class="row align-items-center text-center justify-content-end">
        <div class="col-12 order-lg-1 text-center">
          {{- if .Params.title }}
            <div class="row pb-3">
              <div class="col-12
                {{- if or (eq $bg "white") (eq $bg "light") (eq $bg "secondary") (eq $bg "primary") -}}
                  {{- printf " text-%s" "dark" -}}
                {{- else -}}
                  {{- printf " text-%s" "light" -}}
                {{- end -}}
              ">
                <h2>
                  {{- .Params.title | markdownify -}}
                </h2>
              </div>
            </div>
          {{- end -}}
          {{- if .Params.subtitle }}
            <div class="row pb-2
              {{- if or (eq $bg "secondary") (eq $bg "primary") -}}
                {{- printf " text-%s" "dark" -}}
              {{- else -}}
                {{- printf " text-muted text-%s" "secondary" -}}
              {{- end -}}
            ">
              <div class="col-12">
                <h5>
                  {{- .Params.subtitle | markdownify -}}
                </h5>
              </div>
            </div>
          {{- end -}}
          {{- if .Params.rows }}
            <div class="row justify-content-center">
              <div class="col table-responsive">
                <table class="table table-bordered
                  {{- if and (ne $bg "white") (ne $bg "light") -}}
                    {{- printf " table-inverse" -}}
                  {{- end -}}
                ">
                  <thead>
                    <tr>
                      {{- $.Scratch.Set "col" 0 -}}
                      {{- range .Params.header.values }}
                        <th class="
                          {{- if (in (slice "left" "center" "right") .align) -}}
                            {{- printf " text-%s" .align -}}
                          {{- end -}}
                          {{- if .hide_on_mobile -}}
                            {{- print " hide-on-mobile" }}
                          {{- end -}}
                        ">
                          {{- .text | markdownify -}}
                        </th>
                        {{- $.Scratch.Add "col" 1 -}}
                      {{- end }}
                    </tr>
                  </thead>
                  <tbody>
                    {{- range .Params.rows -}}
                      {{- $.Scratch.Set "col" 0 }}
                      <tr>
                        {{- range $i, $s := .values -}}
                          {{- if .header }}
                          <th class="align-middle
                            {{- if (index $.Params.header.values $i).hide_on_mobile -}}
                              {{- print " hide-on-mobile" }}
                            {{- end -}}
                          ">{{ .header | markdownify }}</th>
                          {{- else if .button }}
                            <td class="align-middle
                              {{- if (in (slice "left" "center" "right") .align) -}}
                                {{- printf " text-%s" .align -}}
                              {{- end -}}
                              {{- if (index $.Params.header.values $i).hide_on_mobile -}}
                                {{- print " hide-on-mobile" }}
                              {{- end -}}
                            ">
                              <a class="btn
                              {{- if hasPrefix .url "#" }} anchor{{- end -}}
                              {{- $color := .color | default "primary" -}}
                              {{- printf " btn-%s" $color -}}
                            " href="{{ .url | relLangURL }}">
                              {{- .button -}}
                            </a>
                          </td>
                        {{- else if .icon }}
                          <td class="align-middle
                            {{- if (in (slice "left" "center" "right") .align) -}}
                              {{- printf " text-%s" .align -}}
                            {{- end -}}
                            {{- if (index $.Params.header.values $i).hide_on_mobile -}}
                              {{- print " hide-on-mobile" }}
                            {{- end -}}
                          ">
                            <a href="{{ .url }}">
                              <i class="{{ .icon }} fa-2x"></i>
                            </a>
                          </td>
                        {{- else }}
                          <td class="align-middle
                            {{- if (in (slice "left" "center" "right") .align) -}}
                              {{- printf " text-%s" .align -}}
                            {{- end -}}
                            {{- if (index $.Params.header.values $i).hide_on_mobile -}}
                              {{- print " hide-on-mobile" }}
                            {{- end -}}
                          ">{{ .text | markdownify }}</td>
                        {{- end -}}
                        {{- $.Scratch.Add "col" 1 -}}
                      {{- end }}
                    </tr>
                  {{- end }}
                </tbody>
              </table>
            </div>
          </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>
