{{- if (isset . "data") -}}
  {{- .page_scratch.Set "content_fragment" .data.content_fragment -}}
  {{- .page_scratch.Set "url" .data.page.URL -}}
{{- else -}}
  {{- .page_scratch.Set "content_fragment" .Params.content -}}
  {{- .page_scratch.Set "url" .root.URL -}}
{{- end -}}

{{- $bg := .self.Scratch.Get "bg" }}
{{- $toc := (.page_scratch.Get "content_fragment").TableOfContents -}}
{{/* Remove empty lists and list items */}}
{{- $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") -}}
{{- $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") -}}
{{- $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") -}}
{{- $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") -}}
{{- $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") -}}
{{- $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") -}}
{{- if gt (len (split $toc "<li>")) 2 -}}
  {{- partial "helpers/container.html" (dict "start" true "in_slot" .in_slot "bg" $bg "Name" .Name "padding" .Params.padding) -}}
    {{/* count the number of remaining li tags and only display ToC if more than
      2, otherwise why bother */}}
    {{- if gt (len (split $toc "<li>")) 2 -}}
      {{/* Correct the urls (default urls are relative to the page which
        contains the content which might not be the case for us.) */}}
      {{- $toc := (replace $toc "<li><a href=\"" (printf "<li><a href=\"%s" (.page_scratch.Get "url"))) -}}
      <div class="toc">
        {{- safeHTML $toc -}}
      </div>
    {{- end -}}
  {{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
{{- end -}}
