{{- if (isset . "data") -}}
  {{- .page_scratch.Set "content_page" .data.content_fragment -}}
  {{- .page_scratch.Set "url" .data.page.URL -}}
{{- else -}}
  {{- .page_scratch.Set "content_page" .Params.content -}}
  {{- .page_scratch.Set "url" .root.URL -}}
{{- end -}}

{{- $bg := .self.Scratch.Get "bg" }}
{{- partial "helpers/container.html" (dict "start" true "fragment" "TOC" "in_slot" .in_slot "bg" $bg "Name" .Name "padding" .Params.padding) -}}
  {{- $toc := (.page_scratch.Get "content_page").TableOfContents -}}
  {{/* Remove empty lists and list items */}}
  {{- $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") -}}
  {{- $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") -}}
  {{- $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") -}}
  {{- $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") -}}
  {{- $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") -}}
  {{- $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") -}}
  {{- $toc := (replace $toc "<li><a href=\"" (printf "<li><a href=\"%s" (.page_scratch.Get "url"))) -}}
  {{/* count the number of remaining li tags and only display ToC if more than
    1, otherwise why bother */}}
  {{- if gt (len (split $toc "<li>")) 2 -}}
    {{- safeHTML $toc -}}
  {{- end -}}
{{- partial "helpers/container.html" (dict "end" true "in_slot" .in_slot) -}}
